-content_for :aside do
  =render "pages/investment_education/categories"
%article
  %h1 Bonds
  %section
    %h1 What are Debt Instruments?
    =image_tag  "investment_education/debts1.png"
    %p
      instruments such as bonds, bills and commercial paper are loans that governments
      or corporations take from investors. The difference between ordinary loans and most
      debt instruments is that these instruments can be traded on the secondary market,
      i.e. between any two entities without the explicit consent of the issuer (entity
      that has taken the loan).
    %p
      Corporations and governments often need capital in order to meet their expenditure,
      plan new projects or meet obligations. One way they raise capital is to issue bonds.
      In short, a debt instrument involves a borrower making interest and principal payments
      to the lenders or debt holders on pre-specified dates.
  %section
    %h1 Terminology:
    %h1 Face Value or par value
    %p The notional value of the bond/instrument. This is the amount that will be paid to the instrument holder upon maturity. Coupon payments are also calculated based on this amount as the principal.
    %h1 Coupon
    %p Periodic interest payments paid to bondholders. Most coupon payments are semi-annual i.e. twice a year.
    %h1 Yield
    %p Yield can be thought of as the compound interest rate that is received from the investment, which takes into account, the coupon payments and discount/premium from the par value.
    %p (Technically speaking, yield is the discount rate that makes the present value of future cash flows received from the investment, equal to the current price of the instrument)
    %h1 Maturity
    %p The time period after which the face value of the bond is returned to the bondholder and by which time all coupon payments are made.
    =image_tag  "investment_education/investingvstrading3.png"
    %h1 Issuer
    %p The corporation or government that takes the loan from the investor.
    %h1 Discounted Instruments
    %p Instruments that are issued at prices below their par values.
    %h1 Credit Ratings
    %p Ratings that are given to debt instruments by specialized rating agencies that indicate the probability of default and the likelihood of recovery of the amount owed to the bondholder in case of default (by the issuer).
    %h1 Covenants
    %p Covenants are agreed terms and conditions between a debt issuer and a debt holder. The conditions state that the issuer must agree to operate within certain limits. For example, corporate bonds have covenants that prevent the company from using the cash received from a debt issue to make dividend payouts to shareholders.
    %p
      Such a condition is important because it does not make sense for a company to use the cash for paying out dividends instead of investing in profitable projects because this is merely passing cash from the bondholders to the shareholders.
      In worst case scenarios, there have been instances where companies have borrowed from bondholders, and subsequently sold off their assets (that could have generated future cashflows). They eventually paid out all the available cash to shareholders. They leave behind shell companies that are declared bankrupt leaving, debt holders with nothing, while shareholders walk away with the dividend payments that have been received earlier.
  %section
    %h1 Major Types of Debt Instruments:
    =image_tag  "investment_education/debts10.png"
    %h1 Bonds
    %p Bonds are debt instruments with moderate-long maturities issued by governments and corporations. Bonds pay face value at maturity along with periodic interest payments known as coupon payments.
    %h1 Debentures/ Notes
    %p Debentures are unsecured (non-collateralized) promissory notes with long maturities usually issued by corporations. Debentures are considered more risky than secured debt and thus tend to pay higher interest than collateralized loans.
    %h1 Bills
    %p Bills are short term loans usually issued by governments. These are generally discounted securities.
    %h1 Commercial Paper
    %p Commercial papers are unsecured short term securities (maturities below 9 months) issued by banks and corporations with very high credit ratings to meet short term obligations such as debt and payrolls. Most commercial paper is sold at a discount to par value.
  %section
    %h1 How individual investors can invest in debt instruments:
    %p Individual investors can invest in debt instruments either directly with the issuer directly or through a broker on the secondary market. Investors can also invest in mutual funds that invest in debt securities.
  %section
    %h1 Advantages:
    %ol
      %li Debt instruments are generally safer than stocks. Instruments issued by entities with good credit ratings are usually very safe.
      %li Most debt instruments such as bonds are fairly liquid and can be traded on the secondary market.
      %li Bonds and debentures pay higher interest than cash equivalents.
  %section
    %h1 Disadvantages:
    %ol
      %li Debt instruments, carry credit risk i.e. risk of default.
      %li Junk bonds (Credit rating lower than BBB) are very risky and have often been defaulted upon.
      %li Some debt instruments are illiquid, especially those with low credit ratings.
      %li Debt instruments carry interest rate risk i.e. the risk that the interest rates required by the market rise, thereby reducing the value of existing investments.
  %section
    %h1 Risks:
    %ol
      %li Credit Risk: Credit Risk is the risk of the issuer defaulting on the principal repayment or the coupon payment.
      %li Interest Rate Risk: Interest rate risk is the risk of the market interest rates rising, thereby reducing the market price of existing interest bearing investments.
      %li Liquidity Risk: Liquidity risk is the risk that the debt instrument cannot be traded quickly at fair value in the market due to the lack of sufficient interest from potential buyers.
  %articlefooter
    Prev:
    =link_to t('investment_education.stocks2'),page_path('investment_education/stocks2')
    %rightAlign
      Next:
      =link_to t('investment_education.mutual_funds'), page_path('investment_education/mutual_funds')
    %center=link_to t('investment_education'),page_path('investment_education')
%extracontent
  %takeaway
    %h1 Take Away
    %ul
      %li Corporations or governments issue debt instruments when they need capital.
      %li In return the debt instrument holder receives interest and principal payments at pre-specified dates. Examples are bonds, notes, certificates, etc.
      %li Investors can directly deal with the issuer or on the secondary market through a broker.
      %li Be aware of credit risk, interest rate risk and liquidity risk.
  %articles
    %h1 Articles
    %ul
      %li=link_to "Indian Debt Market", "http://business.mapsofindia.com/india-market/debt.html", html_options = {:target => "_blank"}
      %li=link_to "Basics Of Bonds", "http://www.economywatch.com/bonds/", html_options = {:target => "_blank"}
      %li=link_to "Bonds -Wikipedia", "http://en.wikipedia.org/wiki/Bond_%28finance%29", html_options = {:target => "_blank"}
  %videos
    %h1 Videos
    %ul
      %li=link_to "Introduction to Bonds", "http://www.youtube.com/watch?v=44cYyG0LSzQ&feature=relmfu", html_options = {:target => "_blank"}
      %li=link_to "Relationship between bond prices and interest rates" "http://www.youtube.com/watch?v=kDRqSJIiTqU&feature=player_embedded", html_options = {:target => "_blank"}
