= render 'signin_benefits'

%section.row
  .span12
    .alert.alert-notice
      %p
        Signing up also lets you save all the data you had entered so that you won’t have to reenter a thing when you come back. Please login/signup using one of the options below to access these features. Signing up is quick, free and will always be.

= render 'form', :origin => params[:origin]
