

%section.container
  .connect_container
    .facebook=button_to "Login with Facebook",    '/auth/google',   :method => :get
    .google=button_to "Login with Google",  '/auth/facebook', :method => :get
