[submodule "engines/data_provider"]
	path = engines/data_provider
	url = https://investoprestodeploys:gedesh123@github.com/InvestoPresto/data_provider.git
[submodule "engines/personal_financial_tools"]
	path = engines/personal_financial_tools
	url = https://investoprestodeploys:gedesh123@github.com/InvestoPresto/personal_financial_tools.git
[submodule "engines/content"]
	path = engines/content
	url = https://investoprestodeploys:gedesh123@github.com/InvestoPresto/jekyll-pipeline.git
