- fp = FinancialPlanner.new(ideal_investment_mix.comprehensive_risk_profiler_score)
= gchart(:data => fp.ideal_asset_allocation.to_a, :title => 'Suggested Asset Allocation', :chart_type => 'Pie')
%h3 HEADER
%table.table.table-striped.table-bordered
  %tr
    %th Asset Class
    %th Percentage
  - fp.ideal_asset_allocation.each do |asset_class, percentage|
    %tr
      %td= asset_class
      %td= "#{percentage}%"