- url = twitter_post_url
:javascript
  $(document).ready(function() {
    $("#twittershare").click(function(){
      window.location = "#{url}&twitter_message=" + $('#twitter_message').val()
    });
  });

#twitterModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Share your financial plan on twitter
  .modal-body
    .sector.control-group
      .controls
        = text_area_tag(:twitter_message,
                        twitter_share_description(url_with_complete_path(public_financial_profile_path(current_user))),
                        :size => '20*5',
                        :style => 'width:400px')
      .actions
        %a.btn.btn-primary.btn-large{:href => "#"}
          %i
            = image_tag 'twitter_icon.png'
          Tweet on Twitter