%p
  %b Portfolio Name:
  = @portfolio.name

#portfolio-total-asset-allocation-chart{ 'data-portfolio-total-asset-allocation' => resource.total_assets_distribution }

%table
  %tr
    %th Asset Class
    %th Percentage(%)
    %th Amount
  -resource.total_assets_distribution_table.each do |asset|
    %tr
      %td= asset[:asset_type]
      %td= asset[:percentage]
      %td= asset[:amount]

- if resource.assets_and_liabilities?
  #net-worth-chart{ 'data-net-worth' => resource.assets_and_liabilities }
