%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Finginie gives you personalized investment suggestions customized to your unique
      financial needs and constraints backed by financial experts' opinions
      and 10 years of market data.
    %p
      Finginie's investment management and risk management tools help
      individual investors formulate investment strategies, select and track
      investments based on their individual risk profiles, unique
      constraints and market conditions.
    %p
      Users will soon be able to use our best in class risk management
      features to protect their investments from market fluctuations and
      collaborate with the investment community through our social features.
    %p
      = @share_url
    %p
      Click on the link above to view 'User''s investment suggestions and
      find out your investment suggestions.
    %p
      Want to win an iPad 3(WiFi) or Samsung Galaxy-SII and a host of other
      cool stuff? All you have to do is to signup for a free Finginie
      account.
    %p
      ='- Finginie Team'
