= simple_form_for @search, :url => collection_path, :method => :get, :html => {:novalidate => true, :id => 'new_company'} do |f|
  = f.label :name, :required => false
  = f.text_field :name, data: { autocomplete_source: stocks_path}
