= render 'indicies'

%h1 Share Quotes
%p
  Get quotes and all important corporate and financial information such as balance sheets, income statements, key financial ratios and shareholding patterns for all 3500+ shares/stocks listed on the NSE and BSE.
%table{ :id => 'stocks_table', :data => { :source => stocks_path(format: 'json') } }
  %thead
    %tr
      %th.name Name
      %th.name Sector
      %th.stock_value Price
      %th.stock_value % Change
      %th.stock_value P/E
  %tbody
    %tr
      %td.dataTables_empty{colspan:5} Start typing the name or symbol of the company in the box above to get a quote
%h1 Top Gainers & Losers
#top_gainers_or_losers.top_gain_loss
  = render "top_gainers_or_losers"
.screener_tool
  %p
    Use our
    = link_to "Stock Screener tool", screener_stocks_path
    to find stocks matching your criteria

