= render 'indicies'

%h1 Stocks
%table{ :id => 'stocks_table', :data => { :source => stocks_path(format: 'json') } }
  %thead
    %tr
      %th Name
      %th Sector
      %th Price
      %th % Change
      %th P/E
  %tbody

#top_gainers_or_losers
  = render "top_gainers_or_losers"
