= simple_form_for search, :url => collection_path, :method => :get, :html => {:novalidate => true} do |f|
  = f.label :scheme_name
  = f.text_field :scheme_name, data: { autocomplete_source: mutual_funds_path }
