- if @scheme.asset_allocation
  .mf_container
    %h1= "#{@scheme.scheme_name}'s Asset Allocation"
    #asset_allocation
      #mf-asset-allocation-chart.chart{ data: { elements: [['','']] + @scheme.asset_allocation.to_a,
                                                title: 'Asset Allocation', chartType: 'Pie' } }
      #asset_allocation_data
        %table
          %th Asset Class
          %th Holding (%)
          - @scheme.asset_allocation.each do |name, value|
            %tr
              %td= name
              %td= value
- else
  %p Data not available
