- if @scheme.sectoral_allocation
  .mf_container
    %h1= "#{@scheme.scheme_name}'s Sectoral Allocation"
    #sectoral_allocation
      #mf-sectoral-allocation-chart{ 'mf-data-sectoral-allocation' => @scheme.sectoral_allocation.to_a }
      #sectoral_allocation_data
        %table
          %th Sector
          %th Holding (%)
          - @scheme.sectoral_allocation.each do |name, value|
            %tr
              %td= name
              %td= value
- else
  %p Data not available
