.row
  .span9
    %h1 Interactive Investment Learning
    %section
      %h3 Description
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    %section
      %h3 Ace stockbroker Rakesh Jhunjhunwala picks up a minority 0.08% stake in Axis Bank
      %ol
        %li
          .control-group
            %label.required.control-label
              Will the price of Axis Bank go up or down?
            .controls
              %label.radio
                %input{:required => "required", :type => "radio", :value => "4"} Yes
              %label.radio
                %input{:required => "required", :type => "radio", :value => "4"} No
              %label.radio
                %input{:required => "required", :type => "radio", :value => "4"} Cant say
      .form-actions
        %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Submit"}
    %section
      -# Todo: Once the use answer the question correct and incorrect has to show, Explanation and next button. Until then Hide these items.
      .well
        %h2 Correct
        %h3 Explanation
        %p Rakesh Jhunjhunwala is an ace investor in India and a very popular figure in the investment world. He has a huge fan following and many people try to ape his portfolio blindly. Historically, wenever he has bought/ increased a/his stake in a particular script, the share prices of that company rise in the short term.

        %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Next"}

  .span3
    %img{:src => "http://placehold.it/270x300&text=ads"}/
    %img{:src => "http://placehold.it/270x300&text=ads"}/
