- unless @fd_details.empty?
  %h5 Special Rates
  #special_tenure
    %table.table.table-striped.table-bordered
      %tr
        %th Bank
        %th Number of days
        %th= @search[:senior_citizen] == "Yes" ? "Senior Citizen Interest Rate" : "General Interest Rate"
      - @fd_details.each do |fd_detail|
        %tr
          %td= fd_detail.bank
          %td= fd_detail.min_duration
          %td= @search[:senior_citizen] == "Yes" ?  fd_detail.rate_of_interest_senior_citizen : fd_detail.rate_of_interest_general
