%ul
  %li.slide#slide-1
    %h1 Asset Allocation
    %p
      Our asset allocation tools gives you the perfect mix of stocks, bonds, commodities
      and cash that is tailored to your unique investment needs, time horizon, risk profile,
      financial position and behavioral profile. The tools will help investors diversify
      their portfolios by suggesting potential investments that add diversification benefits
      to existing portfolios.
  %li.slide#slide-2
    %h1 Stock Markets
    %p
      Catch the latest stock market information including market news, sectorial performances,
      latest IPO news, analyst recommendations, technical indicators for each stock, most
      active stocks and find stocks matching your investment criteria using our stock
      screener.
  %li.slide#slide-3
    %h1 Risk Management
    %p
      Try our Risk Management tools which allow retail investors to understand the risk
      that their investment portfolios are exposed to and reduce your risk by hedging
      your investments through derivatives such as options, futures, etc improve your
      investment performance.
  %li.slide#slide-4
    %h1 Investment Education
    %p
      Make informed decisions regarding your investments by reading our articles related
      to investing. Our simple yet comprehensive articles are free from financial jargon
      and easy to understand even for a beginner.
  %li.slide#slide-5
    %h1 Portfolio Management
    %p
      Finginie’s portfolio management tools allow users to construct, monitor, analyze
      and rebalance portfolios consisting of securities from different asset. These tools
      will help investors consolidate their investments from different sources and help
      them track how their investments are performing. These tools provide detailed analytics
      such as profit and loss analysis by each asset class, sector, etc.
  %li.slide#slide-6
    %h1 Financial Tools
    %p
      Worried about saving for retirement/EMI payments/Income taxes/Monthly Savings Plans?
      Try our intuitive financial calculators to make your calculations simpler. We do
      all the number crunching so that it makes it easy for you to understand
