%ul
  %li Sensex
  %li=indice_result("sensex_current")
  %li=indice_result("sensex_change")
  %li Nifty
  %li=indice_result("nifty_current")
  %li=indice_result("nifty_change")
  %li DowJones
  %li=indice_result("dowjones_current")
  %li=indice_result("dowjones_change")
  %li USD 1
  %li=indice_result("usd_to_inr")
  %li Gold (10 Gms.)
  %li=indice_result("gold_current")
