%section.stock_recommendations
  %h1 Picks of the Week
  %ul
    %li
      %div
        %h1 Buy
        %dt INVP
        %dd Finginie
    %li
      %div
        %h1 Sell
        %dt TCS
        %dd Tata Consultancy Services
    %li
      %div
        %h1 Hold
        %dt INFY
        %dd Infosys Services
    %li
      %div
        %h1 Sell
        %dt CTS
        %dd Congigent Technology Solutions
    %li
      %div
        %h1 Sell
        %dt L &amp; T
        %dd Laursen and Tubro
  .clear
%section.promotion
  %h1 Sign up for beta
  %p Win F1 tickets and iPods
