
%h1 Banking Sector: Attractive valuations, short term weakness
%p
  %small Report published on June 26th, 2012
%p #{link_to 'By Ashwini Anand, CFA', main_app.page_path('research-team')}
%section
  %h2 Short term outlook
  %p
    The short term outlook for the banking sector remains weak due to overall macroeconomic weakness,high interest rates and falling investor confidence.
  %ol
    %li
      %p RBI unexpectedly kept rates constant during its last midterm policy citing high inflation among other reasons. This is a negative for rate sensitive sectors such as banking.
    %li
      %p
        S&P and Fitch’s recent downgrades of India’s sovereign ratings followed by their downgrades of several Indian banks are negative developments for this sector. The threat of India losing its
        investment grade status is very real and if that happens, banking stocks among others will take a
        severe beating due to investors fleeing the Indian markets to safe havens like gold/US$.
    %li
      %p Falling GDP growth, a very weak rupee and global economic uncertainty (mainly in Europe) are all big negatives.
%section
  %h2 Short term recommendations
  %p
    The overall weakness in the markets is likely to overshadow the fundamentals in the short run. The
    falling rupee is not going to encourage foreign investors as their dollar returns would be adversely
    impacted by the exchange rate that seems to be going down the drain. Any further downgrades are
    going to spell short term doom for the Indian markets. All these factors having been taken into account,
    our short term recommendations for stocks in the banking sector are as follows:
  %table.table.table-striped
    %tbody
      %tr
        %th Stock
        %th Short term rating
      %tr
        %td HDFC Bank
        %td Hold
      %tr
        %td SBI
        %td Sell
      %tr
        %td ICICI Bank
        %td Hold
      %tr
        %td Axis Bank
        %td Hold
      %tr
        %td Yes Bank
        %td Hold
%section
  %h2 Long term outlook
  %p Barring substantial deterioration in the economic scenario, political crises or a drastic slowdown in the global economy, we feel that the long term outlook for the banking sector is promising.
  %p
    We can’t say when it will happen, but policy paralysis will have to inevitably end someday. Attractive
    valuations will bring back investors some day; later if not sooner. India’s seemingly lame government
    policies can choke investment in the short term but cannot hold it off forever. Widespread criticism
    from business leaders, the opposition and the common man will take effect someday if not today. No
    government can afford to anger its businessmen forever. Reforms will be undertaken eventually;
    attractive valuations will bring back investors and stock prices will eventually go up.
    Over the course of the next 1-2 years, we expect the interest rates to come down substantially. In fact,
    we are most likely done with the worst part of the interest rate cycle. A falling rupee will help exporters
%h1 Fundamentals
%section
  %h2 Asset Quality
  %p
    Asset quality at most banks barring ICICI and SBI is under control as can be seen by the Gross NPAs to
    advances ratios. ICICI being a very aggressive bank has the highest Gross NPA to advances ratio.
    However, it is very well capitalized and can absorb some of the resulting losses without much trouble.
  %p
    The large banks also seem well capitalized barring SBI. Notice overall Capital adequacy ratios are well
    above the RBI mandated minimum in all cases. The provisioning coverage ratios are especially good at
    the private banks. A further deterioration in the economy will hurt banks with higher NPAs. We feel that
    existing NPA levels are fairly good indicators of things to come.
  %p
    On this front, Axis Bank and Yes Bank score very well, with the lowest Gross NPA/Advances ratios.
    However, we feel that SBI and Axis Bank need to improve their CARs to give more confidence to
    investors. But that being said, Axis Bank has very low NPAs and that, to some extent, can justify their
    CAR of 13.66%.
  %table.table.table-striped
    %tbody
      %tr
        %th Metric
        %th HDFC Bank
        %th SBI
        %th ICICI Bank
        %th Axis Bank
        %th Yes Bank
      %tr
        %td Gross NPAs/advances (%)
        %td 1.0
        %td 2.89
        %td 4.13
        %td 1.06
        %td 0.22
      %tr
        %td Provisioning ratio (%)
        %td 82.38
        %td 68.1
        %td 80.04
        %td 80.91
        %td 79.2
      %tr
        %td CAR%
        %td 16.5
        %td 13.86
        %td 18.52
        %td 13.66
        %td 17.9
      %tr
        %td Asset Quality Score
        %td A
        %td C
        %td C
        %td A
        %td A
      %tr
        %td Capitalization Score
        %td A
        %td B
        %td A
        %td B
        %td A
%section
  %h2 Growth
  %p
    Yes Bank, being a small bank has shown fantastic growth over the last few years. It remains our top pick
    mainly for this reason. All major banks have shown good growth in top line as well as bottom line
    numbers. SBI has disappointed in terms of 4 year growth in EPS though it is not entirely fair to compare
    private banks with PSU banks. Axis Bank has impressed with an extraordinary 36.85% EPS growth p.a.
    over the last 4 years. ICICI Bank has grown fairly well.
  %table.table.table-striped
    %tbody
      %tr
        %th Metric
        %th HDFC Bank
        %th SBI
        %th ICICI Bank
        %th Axis Bank
        %th Yes Bank
      %tr
        %td Net Profit(cr)
        %td 5,167
        %td 11,707
        %td 6,465
        %td 4,242
        %td 977
      %tr
        %td Profit Growth(%)
        %td 31.60
        %td 41.65
        %td 25.51
        %td 25.21
        %td 34.39
      %tr
        %td Operating income(cr)
        %td 17,541
        %td 177,033
        %td 18,236
        %td 13,438
        %td 2,473
      %tr
        %td Operating income growth(%)
        %td 17.89
        %td 19.74
        %td 16.41
        %td 20.03
        %td 32.22
      %tr
        %td Advances(cr)
        %td 195,420
        %td 893,613
        %td 231,669
        %td 169,759
        %td 37,988
      %tr
        %td Growth in Advances(%)
        %td 22.15
        %td 15.78
        %td 20.29
        %td 19.21
        %td 10.55
      %tr
        %td 1y Growth in EPS (%)
        %td 30.00
        %td 29.65
        %td 20.91
        %td 24.78
        %td 33.03
      %tr
        %td 4year CAGR -EPS (%)
        %td 23.53
        %td 8.76
        %td 24.06
        %td 36.85
        %td 57.90
      %tr
        %td Overall Grade
        %td B
        %td C
        %td C
        %td A
        %td A
  %p
    SBI has an excellent branch network with over 14,000 branches. We feel that Axis Bank has potential to
    grow substantially over the next few years as it is small and has been targeting retail clients. Axis Bank’s
    branch network is not as well developed as ICICI Bank’s or HDFC Bank’s. However, it has been growing
    fairly well over the last 1 year. HDFC Bank has been growing its branch network at a strong 28% p.a.
  %table.table.table-striped
    %tbody
      %tr
        %th Network
        %th HDFC Bank
        %th SBI
        %th ICICI Bank
        %th Axis Bank
        %th Yes Bank
      %tr
        %td No of branches(2012)
        %td 2544
        %td 14037
        %td 2752
        %td 1622
        %td 356
      %tr
        %td 1y change (%)
        %td 28.10
        %td 4.35
        %td 8.82
        %td 16.69
        %td 66.36
%section
  %h2 Profitability
  %p
    The top private banks seem to be fairly profitable with HDFC Bank ruling the roost on this front. Driven
    by the highest net interest margin and CASA ratio, HDFC Bank is the best among the lot when it comes
    to profitability. All the major banks being considered here have healthy CASA ratios and NIMs. Yes Bank
    has a very low CASA ratio and a corresponding NIM. However, we feel that NIMs will improve as Yes
    Bank grows its CASA ratio and gains access to cheap funds via this channel. Savings rate deregulation will
    help it substantially as it now offers 6% interest on savings accounts.
  %table.table.table-striped
    %tbody
      %tr
        %th Metric
        %th HDFC Bank
        %th SBI
        %th ICICI Bank
        %th Axis Bank
        %th Yes Bank
      %tr
        %td NPM%(ttm)
        %td 15.88
        %td 7.26
        %td 11.46
        %td 15.35
        %td 13.63
      %tr
        %td NIM%(last quarter)
        %td 4.2
        %td 3.85
        %td 3.01
        %td 3.55
        %td 2.8
      %tr
        %td CASA ratio
        %td 48.4
        %td 46.64
        %td 43.5
        %td 41.53
        %td 15
      %tr
        %td Profitability Score
        %td A
        %td C
        %td B
        %td A
        %td B
%section
  %h2 Valuations
  %p
    All banks seem to be trading at attractive valuations when measured by their trailing P/E ratios. In fact,
    all banks other than HDFC Bank and SBI are trading at deep discounts to their average historic P/E ratios
    (since Jan ’09). HDFC Bank, being a conservative bank seems to be the darling of investors. Its P/E ratio
    has not been as volatile as some of the others. However, we are not very comfortable with HDFC Bank
    getting such a high premium (P/E) over ICICI Bank and Axis Bank. This is the only reason for not placing a
    “Buy” recommendation on HDFC Bank.

  %p
    Axis Bank has taken a beating and is trading at about 12 times trailing earnings, a far cry from the 30+
    multiples it commanded towards the end of 2010. This deflation in P/E does not seem to be
    accompanied by any fundamental weaknesses specific to the bank but seems to be a result of the
    overall weakness in the economy. ICICI and Yes Bank look attractive on the valuation front, trading at 15
    times and 12 times trailing earnings. SBI is trading at about 12 times trailing earnings, slightly higher
    than its historic average earnings multiple of about 11.
  %table.table.table-striped
    %tbody
      %tr
        %th Metric
        %th HDFC Bank
        %th SBI
        %th ICICI Bank
        %th Axis Bank
        %th Yes Bank
      %tr
        %td Market Cap(cr)
        %td 127,574
        %td 146,150
        %td 98,067
        %td 42,490
        %td 12,116
      %tr
        %td Market Price
        %td 542.00
        %td 2,177.00
        %td 850.55
        %td 1,025.60
        %td 342.30
      %tr
        %td P/E
        %td 24.69
        %td 12.48
        %td 15.17
        %td 10.02
        %td 12.40
      %tr
        %td Avg P/E (since Jan ‘09)
        %td 26.94
        %td 11.40
        %td 21.59
        %td 15.42
        %td 14.73
      %tr
        %td P/BV
        %td 4.17
        %td 1.90
        %td 1.62
        %td 1.86
        %td 3.19
      %tr
        %td Valuation Score
        %td C
        %td B
        %td A
        %td A
        %td B
%h1 Long term recommendations
%section
  %h2 Buy recommendations for Axis Bank and Yes Bank.
  %p
    Overall, we feel that Axis Bank and Yes Bank are the most attractive among the well-known banks. Yes
    Bank probably has the best potential for growth and is fairly valued. Axis Bank is attractively valued at a
    36.89% discount to its average P/E(trailing 12 months) over the last three and a half years. It has the
    potential to catch up with ICICI Bank and HDFC Bank in terms of size, in the long term. Both banks (Yes
    Bank and Axis Bank) seem to have excellent asset quality (0.22% and 1.06% gross NPA/advances) and
    growth history (36.85% and 57.9% 4 year CAGR in EPS). It is for these reasons that we are bullish on
    these 2 banks and rate them as “Buy”s. The only concerns for these banks are capitalization (for Axis
    Bank) and low CASA ratio (for Yes Bank). However, we think that these problems will be addressed in the
    long run.

  %p
    We also set minimum target prices of about Rs 1578 and Rs 447 on Axis Bank and Yes Bank respectively
    based on reversion to the average historic P/E as well as a premium for growth potential.
  %h2 Hold recommendations for ICICI Bank and HDFC Bank
  %p
    We feel that ICICI Bank and HDFC Bank are attractively priced going by their current earnings multiples
    relative to their historic multiples. However, we are not fully comfortable with the asset quality of ICICI
    Bank despite its good capitalization and healthy provisioning. Therefore, we place a “Hold” on it. HDFC is
    profitable, has impeccable asset quality and a history of being conservative. It is probably the best
    private bank to deposit your money. However, we feel that it is expensive at the current levels (24.69
    times trailing earnings) compared to its peers. Therefore, we place a “Hold” on it. Based on reversion to
    historic average P/Es, we set a minimum long term target price of Rs 1,211 on ICICI Bank. Using the
    same logic and factoring in a premium for excellent profitability, asset quality and a conservative
    approach to banking, we set a minimum long term target price of Rs 651 for HDFC Bank.
  %h2 Sell recommendation on SBI
  %p
    We are not bullish on SBI due to its low asset quality, low profit growth over the last few years and its
    current valuation (12.48 times trailing earnings).
  %table.table.table-striped
    %tbody
      %tr
        %th Company
        %th Long term rating
        %th Long term minimum target price(Rs)
        %th Current Market Price(Rs)
      %tr
        %td Axis Bank
        %td Buy
        %td 1,578
        %td 1,026
      %tr
        %td Yes Bank
        %td Buy
        %td 447
        %td 342
      %tr
        %td HDFC Bank
        %td Hold
        %td 651
        %td 542
      %tr
        %td SBI
        %td Sell
        %td 1,789
        %td 2,177
      %tr
        %td ICICI Bank
        %td Hold
        %td 1,211
        %td 851
  = image_tag "banking_sector.png",:class => 'img_size'
%section
  %h2 Terms of use
  %p
    This report is intended for use by the recipients only and may not be distributed/circulated. The
    numbers/figures used in this report are sourced from publicly available sources which we considered to
    be accurate and/or reliable. Adjustments are made to numbers or figures, where deemed appropriate.
    Finginie, its analysts, management, shareholders, affiliates are not responsible for any
    discrepancies/errors in any of the numbers/figures/information contained in this report. Finginie,
    its analysts, management, shareholders and/or affiliates do not guarantee the accuracy, completeness
    or timeliness of any information contained in this report. Further, the contents of this report, including
    any recommendations are the opinions of the analysts who have prepared this report. The suitability of
    any of the investments mentioned in this report must be assessed by the investor in the context of
    his/her needs and his/her overall portfolio. The investor must consult a qualified/licensed financial
    advisor before making any investment decisions. Finginie, its analysts, management, shareholders
    and/or affiliates will not be responsible or liable for the results of any investment decisions made after
    reading this report. This is not an offer or solicitation to buy/sell securities and should not be treated as
    such. Finginie, its analysts/shareholders/management may have existing positions and/or may
    take new positions in some/all of the securities mentioned in this report.
