.row
  .span8
    #home-slider.carousel.slide
      .carousel-inner
        .item.active
          = image_tag 'http://placehold.it/770x350&text=slide+1'
        .item
          = image_tag 'http://placehold.it/770x350&text=slide+2'
        .item
          = image_tag 'http://placehold.it/770x350&text=slide+3'
        .item
          = image_tag 'http://placehold.it/770x350&text=slide+4'
      %a.carousel-control.left{:href => '#home-slider', :data => {:slide => :prev}} &lsaquo;
      %a.carousel-control.right{:href => '#home-slider', :data => {:slide => :next}} &rsaquo;
  .span4
    .well=image_tag 'http://placehold.it/350x330/85C9F4/FFFFFF&text=Ad+space'
.row.show-grid
  .span8
    %h1 News
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#market"} Market
      %li
        %a{"data-toggle" => "tab", :href => "#economy"} Economy
      %li
        %a{"data-toggle" => "tab", :href => "#"} Stock Tips
      %li
        %a{"data-toggle" => "tab", :href => "#"} Companies
      %li
        %a{"data-toggle" => "tab", :href => "#"} Global News

    .tab-content
      #market.tab-pane.active
        %section#news_markets.tab-pane.active
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/bse-sensex-rises-to-1-wk-high-maruti-slumps/179353/on", :target => "blank", :title => "Business Standard"} BSE Sensex rises to 1-wk high Maruti slumps
            %h6 Business Standard - about 1 hour ago
            %p The BSE Sensex rose on Thursday to its highest close in a week as Reliance Industries rose a day before its quarterly earnings, while hopes for policy reforms boosted sectors expected to benefit such as airlines.
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/markets-gain-amid-firm-global-cues/179351/on", :target => "blank", :title => "Business Standard"} Markets gain amid firm global cues
            %h6 Business Standard - about 1 hour ago
            %p Benchmark share indices ended higher on Thursday, amid firm global cues, led by gains in index heavyweights Reliance Industries and Infosys.
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/markets-end-higher-led-by-heavyweights/179320/on", :target => "blank", :title => "Business Standard"} Markets end higher led by heavyweights
            %h6 Business Standard - about 1 hour ago
            %p Benchmark share indices ended higher on Thursday, amid firm global cues, led by gains in index heavyweights Reliance Industries and Infosys.
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/higher-gold-prices-trigger-selling-summer-demand-tepid/179332/on", :target => "blank", :title => "Business Standard"} Higher gold prices trigger selling summer demand tepid
            %h6 Business Standard - about 2 hours ago
            %p Selling in Asia's physical gold market could pick up as prices advance towards $1,580 an ounce, but trading is likely to remain dull as long as there is no clear direction for prices during the summer lull.
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/turmeric-surges-4-pc/179327/on", :target => "blank", :title => "Business Standard"} Turmeric surges 4% pc
            %h6 Business Standard - about 2 hours ago
            %p Turmeric prices surged by Rs 212, or 4.03%, to hit upper circuit at Rs 5,476 per quintal in futures trade today after participants created speculative positions, driven by deficient rains in key growing areas.
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/gold-recovers6-week-low/179330/on", :target => "blank", :title => "Business Standard"} Gold recovers from 6-week low
            %h6 Business Standard - about 2 hours ago
            %p Indian gold edged higher on Thursday, recovering from its lowest level in six weeks, in line with global markets, keeping away physical traders looking for bargains.
          %article
            %h2
              %a{:href => "http://www.business-standard.com/india/news/nickel-movesin-futures-tradespot-demand/179325/on", :target => "blank", :title => "Business Standard"} Nickel moves up in futures trade on spot demand
            %h6 Business Standard - about 2 hours ago
            %p Nickel prices moved up by Rs 7.20 to Rs 901 per kg in futures market today following pick up in demand from alloy-makers in the spot market.
  .span4
    %h1 Sectoral Indices
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#nse"} NSE
      %li
        %a{"data-toggle" => "tab", :href => "#"} BSE
    .tab-content
      #nse.tab-pane.active
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Index Name
              %th Value
              %th Change
              %th
                %nobr % Change
          %tbody
            %tr
              %td Bank Nifty
              %td 10,622.05
              %td
                %span.green 14.95
              %td
                %span.green 0.14
            %tr
              %td
                %span.translation_missing{:title => "translation missing: en.stocks.sectoral_indices.CNX200"} CNX200
              %td 2,648.50
              %td
                %span.green 11.4
              %td
                %span.green 0.43
            %tr
              %td
                %span.translation_missing{:title => "translation missing: en.stocks.sectoral_indices.CNX500"} CNX500
              %td 4,157.30
              %td
                %span.green 17.55
              %td
                %span.green 0.42
            %tr
              %td CNX Auto
              %td 3,845.90
              %td
                %span.red -15.65
              %td
                %span.red -0.41
            %tr
              %td CNX Defty
              %td 3,283.10
              %td
                %span.green 21.75
              %td
                %span.green 0.67
            %tr
              %td CNX Energy
              %td 7,506.65
              %td
                %span.green 86.75
              %td
                %span.green 1.17
            %tr
              %td CNX FMCG
              %td 12,603.80
              %td
                %span.red -10.95
              %td
                %span.red -0.09
            %tr
              %td CNX Infra
              %td 2,423.65
              %td
                %span.green 0.4
              %td
                %span.green 0.02
            %tr
              %td CNX IT
              %td 5,682.25
              %td
                %span.green 100.0
              %td
                %span.green 1.79
            %tr
              %td CNX Media
              %td 1,286.30
              %td
                %span.green 7.75
              %td
                %span.green 0.61
            %tr
              %td CNX Metal
              %td 2,832.35
              %td
                %span.green 23.95
              %td
                %span.green 0.85
            %tr
              %td CNX MidCap
              %td 7,376.10
              %td
                %span.green 20.6
              %td
                %span.green 0.28
            %tr
              %td CNX MNC
              %td 5,184.00
              %td
                %span.red -4.3
              %td
                %span.red -0.08
            %tr
              %td CNX Pharma
              %td 5,318.85
              %td
                %span.green 6.3
              %td
                %span.green 0.12
            %tr
              %td CNX Public Sector Enterprise
              %td 2,934.55
              %td
                %span.green 14.6
              %td
                %span.green 0.5
            %tr
              %td CNX PSU Bank
              %td 3,204.50
              %td
                %span.red -39.9
              %td
                %span.red -1.23
            %tr
              %td CNX Reality
              %td 227.15
              %td
                %span.green 1.35
              %td
                %span.green 0.6
            %tr
              %td CNX Small Cap
              %td 3,363.45
              %td
                %span.green 15.05
              %td
                %span.green 0.45

.row.show-grid
  .span8
    %h1 Top Gainers
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#home"} NSE
      %li
        %a{"data-toggle" => "tab", :href => "#profile"} BSE
    .tab-content
      #nse.tab-pane.active
        %table.table.table-bordered.table-striped
          %tbody
            %tr
              %th Stock name
              %th Price
              %th Change(day)
              %th % Change(day)
            %tr.odd
              %td
                %a{:href => "/shares/advik-laboratories-ltd"} Advik Laboratories Ltd.
              %td
              %td.right_align 5.46
              %td.green 20.00
            %tr.even
              %td
                %a{:href => "/shares/beckons-industries-ltd"} Beckons Industries Ltd.
              %td
              %td.right_align 0.93
              %td.green 19.23
            %tr.odd
              %td
                %a{:href => "/shares/kriti-nutrients-ltd"} Kriti Nutrients Ltd.
              %td
              %td.right_align 6.36
              %td.green 17.78
            %tr.even
              %td
                %a{:href => "/shares/cupid-ltd"} Cupid Ltd.
              %td
              %td.right_align 8.98
              %td.green 14.83
            %tr.odd
              %td
                %a{:href => "/shares/sks-microfinance-ltd"} SKS Microfinance Ltd.
              %td
              %td.right_align 89.20
              %td.green 12.77
  .span4
    .well
      %h1.header stock recommendations
      %p Hold HDFC Bank Target price 651 Long term
      %p Hold Axis Bank Target price 1,578 Long term
      %p Buy Yes Bank Target price 447 Long term
      %p Hold Yes Bank Target price 447 Short term term
      %p Buy HDFC Bank Target price 651 Short term
      %p Hold Axis Bank Target price 1,578 Long term
      %p Buy ICICI Bank Target price 1,157 Long term
      %p Hold Yes Bank Target price 447 Short term term


.row.show-grid
  .span8
    %h1 Top Losers
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#home"} NSE
      %li
        %a{"data-toggle" => "tab", :href => "#profile"} BSE
    .tab-content
      #nse.tab-pane.active
        %table.table.table-bordered.table-striped
          %tbody
            %tr
              %th Stock name
              %th Price
              %th Change(day)
              %th % Change(day)
            %tr.odd
              %td
                %a{:href => "/shares/advik-laboratories-ltd"} Advik Laboratories Ltd.
              %td
              %td.right_align 5.46
              %td.green 20.00
            %tr.even
              %td
                %a{:href => "/shares/beckons-industries-ltd"} Beckons Industries Ltd.
              %td
              %td.right_align 0.93
              %td.green 19.23
            %tr.odd
              %td
                %a{:href => "/shares/kriti-nutrients-ltd"} Kriti Nutrients Ltd.
              %td
              %td.right_align 6.36
              %td.green 17.78
            %tr.even
              %td
                %a{:href => "/shares/cupid-ltd"} Cupid Ltd.
              %td
              %td.right_align 8.98
              %td.green 14.83
            %tr.odd
              %td
                %a{:href => "/shares/sks-microfinance-ltd"} SKS Microfinance Ltd.
              %td
              %td.right_align 89.20
              %td.green 12.77
  .span4
    .well
      %h1.header Research Reports
      %p Stock report-Buy Automobile Sector Angel Broking
      %p Stock report-Sell CCI imposes penalty on cement cos. Angel Broking
      %p Stock report-Sell Allahabad Bank:Making the right choice Nirmal Bang
      %p Stock report-Buy Automobile Sector Angel Broking
      %p Stock report-Buy Automobile Sector Angel Broking
      %p Stock report-Sell Allahabad Bank:Making the right choice Nirmal Bang

.row.show-grid
  .span8
    %h1 Most Active
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#home"} NSE
      %li
        %a{"data-toggle" => "tab", :href => "#profile"} BSE
    .tab-content
      #nse.tab-pane.active
        %table.table.table-bordered.table-striped
          %tbody
            %tr
              %th Stock name
              %th Price
              %th Change(day)
              %th % Change(day)
            %tr.odd
              %td
                %a{:href => "/shares/advik-laboratories-ltd"} Advik Laboratories Ltd.
              %td
              %td.right_align 5.46
              %td.green 20.00
            %tr.even
              %td
                %a{:href => "/shares/beckons-industries-ltd"} Beckons Industries Ltd.
              %td
              %td.right_align 0.93
              %td.green 19.23
            %tr.odd
              %td
                %a{:href => "/shares/kriti-nutrients-ltd"} Kriti Nutrients Ltd.
              %td
              %td.right_align 6.36
              %td.green 17.78
            %tr.even
              %td
                %a{:href => "/shares/cupid-ltd"} Cupid Ltd.
              %td
              %td.right_align 8.98
              %td.green 14.83
            %tr.odd
              %td
                %a{:href => "/shares/sks-microfinance-ltd"} SKS Microfinance Ltd.
              %td
              %td.right_align 89.20
              %td.green 12.77
            %tr.odd
              %td
                %a{:href => "/shares/sks-microfinance-ltd"} SKS Microfinance Ltd.
              %td
              %td.right_align 89.20
              %td.green 12.77
  .span4
    .well
      %h1.header Top Articles
      %p How to invest
      %p Types Of Investemnts
      %p Investing vs Trading
      %p Fixed Deposits
      %p Gold
      %p Shares
      %p Mutual Funds and ETFs
      %p Bonds
      %p Life Insurance

