.row.show-grid
  .span8
    #home-slider.carousel.slide
      .carousel-inner
        .item.active
          = link_to image_tag('Never-invested.jpg'), main_app.edit_comprehensive_risk_profiler_path
        .item
          = link_to image_tag('Suggested-Investments.gif'), main_app.edit_comprehensive_risk_profiler_path
        .item
          = link_to image_tag('Trading.jpg'), main_app.page_path('trade')
      %a.carousel-control.left{:href => '#home-slider', :data => {:slide => :prev}} &lsaquo;
      %a.carousel-control.right{:href => '#home-slider', :data => {:slide => :next}} &rsaquo;
  .span4
    .pull-right
      = link_to image_tag('satyamevjayate370.jpg'), main_app.page_path('finginie-cares')

%hr.soften

.row.show-grid
  .span8
    %h1 Biggest Equity Mutual Funds
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %th Name
          %th NAV
          %th % Change
          %th 1m return (%)
          %th 1y return (%)
          %th 3y return (%)
        %tr.odd
          %td
            %a{:href => "http://finginie.herokuapp.com/mutual_funds/motilal-oswal-most-shares-nasdaq-100-etf-growth"} Motilal Oswal MOSt Shares NASDAQ 100 ETF-Growth
          %td 145.19
          %td
            %span.green 2.05
          %td
            %span.green 0.46
          %td
            %span.green 39.04
          %td
            %span.green 0.0
        %tr.even
          %td
            %a{:href => "http://finginie.herokuapp.com/mutual_funds/canara-robeco-gold-savings-fund-dividend"} Canara Robeco Gold Savings Fund-Dividend
          %td 9.93
          %td
            %span.green 2.03
          %td
            %span.green 0.0
          %td
            %span.green 0.0
          %td
            %span.green 0.0
        %tr.odd
          %td
            %a{:href => "http://finginie.herokuapp.com/mutual_funds/canara-robeco-gold-savings-fund-growth"} Canara Robeco Gold Savings Fund-Growth
          %td 9.93
          %td
            %span.green 2.03
          %td
            %span.green 0.0
          %td
            %span.green 0.0
          %td
            %span.green 0.0
        %tr.even
          %td
            %a{:href => "http://finginie.herokuapp.com/mutual_funds/dsp-blackrock-world-energy-fund-growth"} DSP BlackRock World Energy Fund-Growth
          %td 11.34
          %td
            %span.green 1.76
          %td
            %span.green 2.8
          %td
            %span.red -2.03
          %td
            %span.green 0.0
        %tr.odd
          %td
            %a{:href => "http://finginie.herokuapp.com/mutual_funds/dsp-blackrock-world-energy-fund-dividend"} DSP BlackRock World Energy Fund-Dividend
          %td 11.34
          %td
            %span.green 1.76
          %td
            %span.green 2.8
          %td
            %span.red -2.03
          %td
            %span.green 0.0
:javascript
  jQuery(function(){
      new App.MutualFundGainers({el: $("#mf_gainers")});
  });
.row.show-grid
  .span8
    #mf_gainers
