.row.show-grid
  .span8
    #home-slider.carousel.slide
      .carousel-inner
        .item.active
          = link_to image_tag('Never-invested.jpg'), main_app.edit_comprehensive_risk_profiler_path
        .item
          = link_to image_tag('Suggested-Investments.gif'), main_app.edit_comprehensive_risk_profiler_path
        .item
          = link_to image_tag('Trading.jpg'), main_app.page_path('trade')
      %a.carousel-control.left{:href => '#home-slider', :data => {:slide => :prev}} &lsaquo;
      %a.carousel-control.right{:href => '#home-slider', :data => {:slide => :next}} &rsaquo;
  .span4
    .pull-right
      = link_to image_tag('satyamevjayate370.jpg'), main_app.page_path('finginie-cares')

%hr.soften


.row.show-grid.hide
  .span8
    %h5 Biggest Equity Mutual Funds
    #big_equity_mfs

.row.show-grid.hide
  .span8
    %h5 Mutual Fund Gainers
    #mf_gainers

.row.show-grid.hide
  .span8
    %h5 Mutual Fund Losers
    #mf_losers
