.row
  .span8
    .hero-unit
      #home-slider.carousel.slide
        .carousel-inner
          .item.active
            = image_tag 'http://placehold.it/770x350&text=slide+1'
          .item
            = image_tag 'http://placehold.it/770x350&text=slide+2'
          .item
            = image_tag 'http://placehold.it/770x350&text=slide+3'
          .item
            = image_tag 'http://placehold.it/770x350&text=slide+4'
        %a.carousel-control.left{:href => '#home-slider', :data => {:slide => :prev}} &lsaquo;
        %a.carousel-control.right{:href => '#home-slider', :data => {:slide => :next}} &rsaquo;
  .span4
