.row
  .span7
    %h1
      Investing Workshop:
      %small Investing simplified for beginners
    %section
      %p
        Do you want to start investing? Are you tired of losing money on stock tips given by your friends or
        brokers? Do you want to learn how to start making smart investment decisions that are based on sound
        logic and backed by data? Want to meet fellow investors and share ideas/stock tips?


    %section
      %p.lead.green Join us for an investment workshop in Hyderabad on the 23rd of September 2012(Sunday).
      %h2 Programme Schedule
      %table.table
        %thead
          %tbody
            %tr.info
              %td 4pm-4:15pm
              %td Introduction to different investments
            %tr
              %td 4:15pm-4:30pm
              %td How you should build a portfolio that is right for you

            %tr.info
              %td 4:30pm-4:45pm
              %td How stocks work and what you should look for while buying stocks

            %tr
              %td 4:45pm-5pm
              %td Break

            %tr.info
              %td 5pm-5:15pm
              %td Is gold always safe?

            %tr
              %td 5:15pm-5:30pm
              %td Fixed Deposits and Bonds: The anchor that every investment ship needs

            %tr.info
              %td 5:30pm - 5:45pm
              %td Web based software that makes your investing life easy.

            %tr
              %td 5:45pm-6:15 pm
              %td Networking and Q&A.
    %section
      %p
        %b.green Expert Panel:
        #{link_to 'Ashwini Anand, CFA', main_app.page_path('research-team')} and #{link_to 'Aditya Rallabhandi, MSc(London School of Economics)', main_app.page_path('research-team')}.

      %p
        %b.green Date and time:
        Sunday, 23rd September 2012. 4pm-6pm

      %p
        %b.green Venue:
        Level 2, Midtown Banjara, Banjara Hills Rd No 1.

      %p
        %b.green Who should attend:
        Beginners who want to start investing, existing investors who want to improve their investment returns.

      %p
        %b.green Price:
        Rs 500. Refreshments will be provided.

      %p
        %b.green Special Pricing:
        Free passes for the first 20 registrations

      %p
        %b.green How to sign up:
        Signup using the form here. Our executive will contact you with further details.
  .span5
    .well
      %iframe{:frameborder => "0", :height => "550", :width => "440", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/spreadsheet/embeddedform?formkey=dDB0bTdGODRhcHpiMnRoSmJSajlsZVE6MQ"}
      %iframe{:frameborder => "0", :height => "350", :width => "440", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.in/maps/ms?msa=0&msid=217433516378533849693.0004c96a8b2cc0e89747e&ie=UTF8&ll=17.423282,78.449203&spn=0,0&t=m&output=embed"}
      %br/
      %small
        View
        %a{:href => "https://maps.google.co.in/maps/ms?msa=0&msid=217433516378533849693.0004c96a8b2cc0e89747e&ie=UTF8&ll=17.423282,78.449203&spn=0,0&t=m&source=embed", :style => "color:#0000FF;text-align:left"} My Saved Places
        in a larger map
