.row
  .span9
    = facebook_recommendation('Pharma sector: <small>Which stocks to buy and which stocks to avoid ?</small>')
    %small Report published on August 31st, 2012
    %p #{link_to 'By Aditya Gupta and Ashwini Anand, CFA', main_app.page_path('research-team')}
    %section
      %h5 Industry Overview
      %p India is known as the pharmaceutical capital of the world. It manufactures nearly one-third of all the drugs produced in the world (in terms of volume), providing access to a large portfolio of drugs at some of the cheapest prices across the world.
      %p Over the past decade, the Indian pharmaceutical industry has grown at almost 15% per year. In India, healthcare spending accounts for a mere 1.5% of GDP which is among the lowest in the developing world. However, with the Planning Commission planning to increase the healthcare budget to 2.5% of GDP by 2017 and 3% of GDP by 2022, the growth prospects of the pharma industry look very bright.
      %p Despite the bright outlook, the industry needs to tackle several problems. The Department of Pharmaceuticals (DoP) has proposed a revision of the National Pharmaceuticals Pricing Policy. Under the draft policy, the department has recommended setting price caps on 348 (up from current 72) medicines on the National List of Essential Medicines at an average price of the three best-selling brands in each medicine. Earlier the prices were set on an ‘estimated cost of production’ basis.
      %p Another major problem that the industry faces is the expiry of incentives in many tax-free manufacturing locations. The expiry of income-tax and excise duty benefits in zones like Himachal Pradesh, Uttarakhand and Jammu and Kashmir is adding to the woes of companies that have their manufacturing operations set up in these states.  Other problems that plague the industry are the rising costs of raw materials and the volatility of exchange rates
      %p On the international front, the coming 2 years are likely to be blockbuster years for the pharmaceutical sector as it stands to benefit from the patent expiries of a large number of drugs in the United States.
    %section
      %h5 Fundamentals
      %h3 Growth and Growth Prospects
      %p All the pharma companies barring Ranbaxy, have posted fabulous growth in their sales numbers over the last 4 years. Lupin has clocked an impressive CAGR of 25.29% over this period. Cadila Healthcare and Dr. Reddy’s too have been impressive, registering growth rates (CAGR) of 21.37%p.a. and 18.09%p.a.a respectively over the past 4 years. In fact Dr. Reddy’s has earned the accolade of becoming the fastest Indian pharmaceutical company to surpass USD 2 billion in sales — doing so in less than four years of crossing the USD 1 billion mark. Cipla has been a tad disappointing, growing only 13.43%p.a. (CAGR) over the 4 year timeframe.
      %table.table.table-striped.table-bordered
        %caption
          %b Growth in Sales
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Sales in 2012 - in Rs crores
          %td 9,855.00
          %td 8,011.63
          %td 10,180.46
          %td 6,959.70
          %td 5,216.30
          %td 7,128.82
        %tr
          %td Sales in 2008 - in Rs crores
          %td 5,067.52
          %td 3,460.56
          %td 6,825.67
          %td 2,824.77
          %td 2,404.10
          %td 4,306.43
        %tr
          %td 4 year CAGR  (per year)
          %td 18.09%
          %td 23.35%
          %td 10.51%
          %td 25.29%
          %td 21.37%
          %td 13.43%
    %section.align-center
      %b Growth in Sales per share (2008-2012)
      %br
      = image_tag 'Growth-in-Sales-per-share-2008-2012.png'
      %br
      %small *For comparative purposes, Sales per share of DRL has been scaled down by 3 times. Present sales per share of DRL is 301.33
    %section
      %table.table.table-striped.table-bordered
        %caption
          %b Growth in Annual Sales
        %tr
          %th Year
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Current (Rs. Crores)
          %td 9,855.00
          %td 8,011.63
          %td 10,180.46
          %td 6,959.70
          %td 5,216.30
          %td 7,128.82
        %tr
          %td 2012
          %td 32.34%
          %td 37.98%
          %td 13.59%
          %td 19.57%
          %td 22.66%
          %td 11.89%
        %tr
          %td 2011
          %td 5.44%
          %td 45.84%
          %td 17.74%
          %td 19.79%
          %td 15.97%
          %td 12.23%
        %tr
          %td 2010
          %td 1.42%
          %td -9.00%
          %td 1.83%
          %td 24.63%
          %td 23.84%
          %td 7.21%
        %tr
          %td 2009
          %td 37.42%
          %td 26.43%
          %td 9.52%
          %td 38.02%
          %td 23.18%
          %td 22.96%
        %tr
          %td Rating
          %td B
          %td A
          %td C
          %td A
          %td A
          %td C
      %p Sun Pharma has posted some outstanding numbers since it acquired Taro in September 2010. Its sales increased by 45.84% in 2011 and 37.98% in 2012. With Taro in its kitty, the outlook for Sun Pharma looks really bright.
    %section
      %h5 Profitability
      %p In terms of profitability, Sun Pharma seems to be the most profitable among the lot. It is an outlier both in terms of operating profit margins (40.67%) and net profits margins (37.11%). Over the past 4 years, its net profits have grown at a steady rate of 17.66% p.a..
      %p Dr. Reddy’s seems to be on the growth path. Its net profit has grown at a rate of 31.33% p.a over the past 4 years. At 25.20%, its operating profit margin is fairly healthy. However the company seems to be reeling under the burden of heavy tax outflow. In the last 5 years, the company has paid Rs 1,325 crores in taxes against a ‘Profit Before Tax’ of Rs 4,958 crores.
      %p Cadilla Healthcare and Lupin seem to have posted a decent set of numbers.  At 13.06%, Cadila Healthcare’s net profit margin is a little on the lower side. Yet the company’s net profit has been growing consistently over the past 4 years, clocking a CAGR of 27.07%. Lupin’s profits too have grown at a rate of 21.29% (on CAGR basis) over the past 4 years.
      %p Ranbaxy again seems to be a dragger. The company has posted a net loss in 2 year out of the last 5. In fact, the quantum of losses has been so huge that the net losses it incurred in 2 two years have wiped out all the profits that it had made in the remaining 3 years. On an aggregate basis, the company is in the red (loss) over the last 5 years.
      %table.table.table-striped.table-bordered
        %tr
          %th Company
          %th CAGR FROM 2008 to 2012 (per year)
          %th Average per year profits over last 5 years
        %tr
          %td DRL
          %td 31.33%
          %td 434.27
        %tr
          %td Sun Pharma
          %td 17.66%
          %td 1,931.20
        %tr
          %td Ranbaxy
          %td Cannot calculate
          %td -196.84
        %tr
          %td Lupin
          %td 21.29%
          %td 675.80
        %tr
          %td Cadila Healthcare
          %td 27.07%
          %td 503.78
        %tr
          %td Cipla
          %td 12.96%
          %td 932.62
      %table.table.table-striped.table-bordered
        %caption
          %b Profit Margins
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Operating Profit Margin
          %td 25.20%
          %td 40.67%
          %td 17.58%
          %td 16.69%
          %td 18.14%
          %td 23.27%
        %tr
          %td Net Profit Margin
          %td 13.20%
          %td 37.11%
          %td -28.32%
          %td 12.70%
          %td 13.06%
          %td 16.01%
        %tr
          %td Rating
          %td B
          %td A
          %td C
          %td B
          %td B
          %td A
      %p In line with its growth in net profit, Dr. Reddy’s growth in EPS has been really impressive. The company recorded a 4 year CAGR of 34.12% and a 1 year growth rate of 28.92%.  Cadilla Healthcare’s EPS too has a healthy 4 year CAGR of 23.57% but its last year’s earnings were a slight let down (down 7.45% Y-o-Y). Sun Pharma is reaping the benefits of its acquisition of Taro. The company’s earnings grew by 42.86% last year versus a 4 year CAGR of 14.87%
      %table.table.table-striped.table-bordered
        %caption
          %b Earnings per share
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Current
          %td 76.72
          %td 25
          %td -68.33
          %td 19.36
          %td 33.27
          %td 14.21
        %tr
          %td 4y EPS Growth (CAGR)
          %td 34.12%
          %td 14.87%
          %td NA
          %td 18.10%
          %td 23.57%
          %td 12.11%
        %tr
          %td 1y EPS Growth
          %td 28.92%
          %td 42.86%
          %td NA
          %td 0.57%
          %td -8.23%
          %td 15.67%
        %tr
          %td Ratings
          %td A
          %td A
          %td C
          %td B
          %td B
          %td B
    %section
      %h5 Debt
      %p Pharma companies do not have heavy debt on their books. Moreover they generally stand in a more than comfortable position to cater to the little debt that they have. Cadila Healthcare seems to be the most leveraged of the lot but we do not see any cause of concern or doubt its ability to service   its loans.
      %table.table.table-striped.table-bordered
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Current Ratio
          %td 1.13
          %td 3.57
          %td 1.64
          %td 1.23
          %td 1.15
          %td 2.61
        %tr
          %td Debt to Equity
          %td 0.59
          %td 0.04
          %td 0.78
          %td 0.35
          %td 0.78
          %td NA
        %tr
          %td Interest Coverage Ratio
          %td 51.01
          %td 34.86
          %td 24.88
          %td 32.49
          %td 5.3
          %td 38.76
        %tr
          %td Rating
          %td A
          %td A
          %td A
          %td A
          %td A
          %td A
      %table.table.table-striped.table-bordered
        %tr.tableizer-firstrow
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Sales
          %td 9,855.00
          %td 8,011.63
          %td 10,180.46
          %td 6,959.70
          %td 5,216.30
          %td 7,128.82
        %tr
          %td Interest
          %td 114.1
          %td 2820
          %td 76.82
          %td 66.84
          %td 184.9
          %td 38.34
        %tr
          %td Interest as % of Sales
          %td 1.16%
          %td 35.20%
          %td 0.75%
          %td 0.96%
          %td 3.54%
          %td 0.54%
    %section
      %h5 Valuations
      %table.table.table-striped.table-bordered
        %caption
          %b P/E Summary
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Current Price
          %td 1695.7
          %td 672.05
          %td 549.5
          %td 589.45
          %td 895
          %td 372.3
        %tr
          %td Current EPS
          %td 76.72
          %td 25
          %td -68.33
          %td 19.36
          %td 33.27
          %td 14.21
        %tr
          %td Current PE
          %td 20.24
          %td 26.88
          %td LOSS
          %td 30.45
          %td 28.08
          %td 26.13
        %tr
          %td Max (4 years)
          %td 88.49
          %td 38.44
          %td 83.53
          %td 32.51
          %td 36.9
          %td 36.18
        %tr
          %td Min(4 years)
          %td 14.44
          %td 11.75
          %td 8.85
          %td 9.59
          %td 10.97
          %td 17.75
        %tr
          %td Average(4 years)
          %td 37.01
          %td 23.12
          %td 35.7
          %td 21.12
          %td 21.87
          %td 25.13
        %tr
          %td Ratings
          %td A
          %td B
          %td C
          %td C
          %td B
          %td B
      %table.table.table-striped.table-bordered
        %caption
          %b Stock Price History
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Current Price
          %td 1695.7
          %td 672.05
          %td 549.5
          %td 589.45
          %td 895
          %td 372.3
        %tr
          %td 4y Return (CAGR)*
          %td 30.76%
          %td 22.17%
          %td 2.39%
          %td 41.70%
          %td 42.03%
          %td 11.87%
        %tr
          %td 1y Return**
          %td 12.45%
          %td 32.83%
          %td 14.60%
          %td 26.00%
          %td 7.90%
          %td 33.06%
      %small
        * Stock prices have been adjusted for splits and stocks bonus.
        %br
        ** 1 year returns are from September 1st, 2011 to August 30th, 2012
    %section
      %p On basis of valuations, we feel the shares of Dr. Reddy’s are available at a significant discount. While almost all the companies are trading at a premium to their 4 year average PE, at a PE of 20.24, Dr. Reddy’s is trading well below its average PE of 37.01.
      %p Sun Pharma is trading at a small premium to its 4 year average PE and looks fairly priced. However post its acquisition of Taro, we feel that the company is on its way to undergoing a major rating change and thus it still looks attractive.
      %p Lupin and Cadila Healthcare have been impressive on the performance front and the markets seem to have taken a note of it. Both are trading at a significant premium to their 4 year average PE.
      %p Cipla seems to be fairly priced. It has returned a handsome 33% over the past year.
      %p Ranbaxy’s 4 years returns are a reflection of its dismal performance. The share has returned a meagre 2.39% over past 4 years. We do not see Ranbaxy turning around any time in the near future and would shy away from the stock.
    %section
      %h5 Short Term recommendations
      %table.table.table-striped.table-bordered
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Short term rating
          %td Buy
          %td Buy
          %td Sell
          %td Hold
          %td Hold
          %td Hold
    %section
      %h5 Long Term recommendations
      %p In our view, the three factors that are going to make a substantial impact on the bottom lines of pharma companies are:
      %p
        %b Volatility in exchange rates:
        Since exports constitute a substantial portion of sales of pharma companies, these companies often resort to hedging to safeguard their profits. Sometimes such moves may backfire. A couple of years ago, Wockhardt had to undergo massive restructuring due to the losses it suffered in derivative contracts. In the quarter that ended on June 30th, 2012, Ranbaxy incurred a loss to the tune of Rs 586 crores due to its exposures to forex derivatives.
      %p
        %b Exposure to India:
        As mentioned earlier, the Department of Pharmaceuticals has proposed to include 348 medicines under the National List of Essential Medicines. If the proposal goes through, it is going to take a toll on the Indian operations of the pharma companies. Companies which have a huge exposure to India will suffer more than their counterparts who have less exposure to India. With Indian revenues constituting about 18% of its total revenues, Dr. Reddy’s is relatively well protected even if the proposal goes through. However Cadila Healthcare (49%), Cipla (47%) and Sun Pharma (42%) may have to bear the brunt.
      %table.table.table-striped.table-bordered
        %caption
          %b Segmentation of sales
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Domestic Sales
          %td 18%
          %td 42%
          %td 26.43%
          %td 31%
          %td 49%
          %td 47%
        %tr
          %td Exports
          %td 82%
          %td 58%
          %td 73.57%
          %td 69%
          %td 51%
          %td 53%

      %p
        %b Ability to grow via acquisitions and partnerships:
        This might be another differentiator. Companies that are cash rich are best placed to exploit such opportunities. Sun Pharma’s acquisition of Taro is a testimony to how acquisitions can change the face of the company and make a material impact on its bottom line.
      %table.table.table-striped.table-bordered
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Cash (Rs crores)
          %td 475.3
          %td 683.69
          %td 793.44
          %td 171.29
          %td 466.6
          %td 90.46
      %p Strong performance, cash rich coffers, relatively less exposure to India and cheap valuation make Dr. Reddy’s a strong ‘BUY’. Sun Pharma too seems to be hitting the right notes and can return around 15% in the next year. Though Lupin and Cadila Healthcare have performed exceedingly well, we feel that the markets have already factored that in. One needs to be a little cautious till we have some clarity from Department of Pharma on its pricing policy. We have put a ‘HOLD’ on them. Cipla too is a ‘HOLD’ because of the recent rally in its share price. Ranbaxy has everything going wrong for it- dismal performance, huge forex losses and an on-going dispute with US authorities (for which they have set aside USD 500 million in provisions). The company is neck deep in trouble and one should exit the counter. We therefore put a ‘SELL’ on the counter.
      %table.table.table-striped.table-bordered
        %tr
          %th
          %th DRL
          %th Sun Pharma
          %th Ranbaxy
          %th Lupin
          %th Cadila Healthcare
          %th Cipla
        %tr
          %td Long Term Rating
          %td Buy
          %td Buy
          %td Sell
          %td Hold
          %td Hold
          %td Hold
        %tr
          %td Target
          %td 2119.6
          %td 772.85
          %td 467.1
          %td 633.65
          %td 962.15
          %td 400.25
        %tr
          %td Current Price
          %td 1695.7
          %td 672.05
          %td 549.5
          %td 589.45
          %td 895
          %td 372.3
    %section
      %h5 Terms of use
      %p
        This report is intended for use by the recipients only and may not be distributed/circulated. The numbers/figures used in this report are sourced from publicly available sources which we considered to be accurate and/or reliable. Adjustments are made to numbers or figures, where deemed appropriate. Finginie, its analysts, management, shareholders, affiliates are not responsible for any discrepancies/errors in any of the numbers/figures/information contained in
        this report. Finginie, its analysts, management, shareholders and/or affiliates do not guarantee the accuracy, completeness or timeliness of any information contained in this report. Further, the contents of this report, including any recommendations are the opinions of the analysts who have prepared this report. The suitability of any of the investments mentioned in this report must be assessed by the investor in the context of his/her needs and his/her overall portfolio. The investor must consult a qualified/licensed financial advisor before making any investment decisions. Finginie, its analysts, management, shareholders and/or affiliates will not be responsible or liable for the results of any investment decisions made after reading this report. This is not an offer or solicitation to buy/sell securities and should not be treated as such. Finginie, its analysts/shareholders/management may have existing positions and/or may take new positions in some/all of the securities mentioned in this report.
  = render 'easy_navigation_right_aside'
