.row.show-grid
  .span12
    %h1 Research Team
    %p
      We believe in hiring the best investment professionals to bring you high quality, actionable stock recommendations and market updates. Our research team has a wide range of experience and is well positioned to help you choose investments that suit your unique needs and fetch you good returns.
    %p
      Access to our research team is available to all Finginie customers who sign up for a #{link_to 'trading account', main_app.page_path('trade')} with Finginie and Kotak Securities.
    .page-header
      %h2 Our Research Analysts
    %section
      =image_tag "Ash.png"
      %h3
        Ashwini Anand, (Ash) CFA®
      %p
        %b Education:
        BEng (Hons), CFA
      %p
        %b Experience:
        Merrill Lynch, Barclays Capital
      %p
        %b Areas of expertise:
        Portfolio management, Algorithmic trading, Banking and IT stocks. 
      %p
        %b Investment philosophy:
        Fundamental Analysis and meticulous research gives you good returns in any market.
      %p
        %b Contact:
        %a ash at finginie.com
    %hr
    %section
      =image_tag "Aditya.png"
      %h3
        Aditya Rallabhandi
      %p
        %b Education:
        MS(Electrical Engg) and MS  in Management and Strategy (London School of Economics)
      %p
        %b Areas of expertise:
        Managerial Economics, Corporate Finance, Auto and Infra stocks
      %p
        %b Investment philosophy:
        Trade with the market, not against it. Forget about the long run because, in the long run, we’ll all be dead.
      %p
        %b Contact:
        %a aditya at finginie.com
    %hr
    %section
      =image_tag "gupta.jpg"
      %h3
        Aditya Gupta
      %p
        %b Experience:
        D.E. Shaw
      %p
        %b Areas of expertise:
        Macroeconomics, Trading, Derivatives (Futures and Options)
      %p
        %b Investment philosophy:
        Ignore market noise and trade only on the basis of fundamentals.
      %p
        %b Contact:
        %a aditya.gupta at finginie.com

