%article
  %h1 Stocks II
%section
  %h1 Dividends:
  =image_tag  "investment_education/StocksAdvanced1.png"
  %p Investors expect to be compensated for investing in the shares of a company. To compensate investors, companies typically pay their shareholders a part of their income. This payment is known as a dividend payment.
  %p It is not legally binding on a company to pay dividends. In fact, several companies do not pay dividends for several years together, preferring to re-invest their earnings in the company’s operations.
%section
  %h1 Fun Facts!
  %p An increase in dividends usually signals to investors that the company is expecting an increase in future earnings and will be able to sustain higher payouts in the future. A decrease in dividends usually signals that the company is not doing well. Investors will also be unhappy if the company pays them less than the previous year. This is why companies typically pay out a fixed amount of dividend for a number of years. This is known as dividend smoothing.
%section
  %h1 Types Of Dividends:
  %p
    1.	Regular Dividends: This is the amount of dividend paid regularly each year and has been formally approved by shareholders at an Annual General Meeting (AGM). Dividends are paid on a per-share basis.
    %br/
    2.	Special Dividends: Under special circumstances, companies can decide to pay out a dividend over and above regular dividends. This payout may result from extra one-off income from divestments or spin-offs.
  %p
    The yield in terms of dividends from owning a stock is known as the dividend yield. It can be calculated as follows:
    %br/
    Dividend Yield = Dividend/Purchase Price of Share
%section
  %h1 Capital Gains:
  %p
    Increases in the price of shares result in capital gains. If the current market value of a share is greater than its purchase price at the time of original purchase, the difference between the market value and the purchase price is the
    %u unrealized capital gain
    If a stock is sold at a price greater than its purchase price, the profit is known as the
    %u realized capital gain
  %p
    Capital Gains = Market Value of Share at time time of sale – Purchase Price of Share
    %br/
    Capital Gains Yield is the yield from owning a stock, in terms of changes in its market price. It can be calculated as follows:
    %br/
    Capital Gains Yield = Capital Gains/Purchase Price of Share
%section
  %h1 Total Return:
  =image_tag  "investment_education/StocksAdvanced2.png"
  %p
    The total return to the shareholder consists of the dividend income and the capital gain on the share.
    %br/
    Total Return = Total Dividends received + Capital Gains
%section
  %h1 Types:
  %p
    There are two main types of stocks – Common stock and Preferred stock.
    %br/
    Common stocks give their holders ownership of a company and a claim on the assets of the company in case of bankruptcy. In addition, they also give holders, voting rights when important corporate decisions are put to vote at shareholder meetings. Common stockholders typically receive a dividend from the issuing company at its discretion.
    %br/
    Preferred stocks are hybrids between debt and equity instruments that give their holders a higher priority claim over the assets of the company than common stock-holders. Preferred stock holders receive fairly certain fixed dividend payments every year but typically do not have voting rights. The scope for capital gains on preferred stock is rather limited.
%section
  %h1 Valuation Of Shares:
  %p
    Shares can be valued in several different ways. Analysts use complex models to value shares of different companies. These models fall into two categories:
    %br/
    1. Discounted cashflow models
    %br/
    2. Price multiples models
    %br/
    Discounted cashflow models discount the cashflow that is expected to be received from the stock, typically in the form of dividends, using a discount rate that is reflective of the risk associated with the investment.
    %br/
    Discounting is the process of calculating the present value of a future cash-flow based on a certain required rate of interest. For example, if an investor requires and receives a return of 5% p.a., 100Rs. invested today would be worth Rs.105 after 1 year. Thus, the present value of a cash flow of Rs.105 received one year later is Rs.100. Discounted cashflow models are based on this type of reasoning.
    %br/
    Price Multiples Valuations use a market-based multiple of a fundamental parameter of the company to value the stock of that company. For example, the earnings multiple model values a stock as a given multiple of its earnings per share. Therefore, if the appropriate earnings multiplier is 15 and the earnings per share of a company are Rs.1 per share, then, the value of each share of that company is Rs.15 based on this model.
    %br/
    We will cover different valuation methods in detail in another article.
