.row
  .span12
    %h1 Terms and Conditions
.row
  .span12
    %section
      %p
        We are not associated with Aamir Khan, Star Plus or Satyamev Jayate. This promotion is open until
        August 15, 2012. We will make the donation on August 16, 2012. The maximum amount we will donate
        for Facebook likes and shares together is Rs 1 lakh. The maximum amount we will donate for registered
        users is Rs 2 lakhs. Finginie reserves the right to change the rules of/cancel the promotion at any
        time without prior intimation and without any reason whatsoever. Finginie’s decision is final in all
        respects.
