%h1 Listing resources

%table
  %tr
    %th Security
    %th

  - collection.each do |resource|
    %tr
      %td= link_to resource.security, resource_path(resource)
      %td.actions
        = button_to 'Edit', edit_resource_path(resource), :method => :get
        = button_to 'Destroy', resource_path(resource), :confirm => 'Are you sure?', :method => :delete

%br

= button_to 'New Net position', new_resource_path, :method => :get
