= facebook_recommendation('Listing subscriptions')

%table.table.table-striped
  %tr
    %th Subscribable
    %th

  - @subscriptions.each do |subscription|
    %tr
      %td= subscription.subscribable.name
      %td= link_to 'Destroy', subscription, :method => :delete, :data => {:confirm => 'Are you sure?'}
