.row
  .span4
    - collection.of_type('User').each do |subscription|
      = SubscriptionDecorator.decorate(subscription).render_profile :mini

  .span4
    %table.table.table-striped
      %tr
        %th.span2 Portfolio
        %th.span2

      - collection.of_type('Portfolio').each do |subscription|
        %tr
          %td= link_to subscription.subscribable.name, public_portfolio_path(subscription.subscribable)
          %td
            = link_to subscription, :method => :delete, :class => %w(btn btn-danger) do
              %i.icon-eye-close.icon-white
              Stop Following

