<!DOCTYPE html>
<html>
<head>
  <title>DataProvider</title>
  <%= stylesheet_link_tag    "data_provider/application", :media => "all" %>
  <%= javascript_include_tag "data_provider/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
