$blueprint-liquid-grid-columns: 24;
$aside-width: 7;
$default-box-shadow-color: #BBBBBB;

$blueprint-background-color: #C5E7FA;
$secondary-background-color: darken($blueprint-background-color, 15%);
$auxillary-background-color: #2D2D2D;

$palatte-color-1: #424C95;
$palatte-color-2: #81BE00;

