%ul
 %li=link_to t('.emi_calculators'),emi_calculators_path
 %li=link_to t('.fixed_deposit_calculators'), fixed_deposit_calculators_path
 %li=link_to t('.recurring_deposit_calculator'), recurring_deposit_calculator_path
 %li=link_to t('.sip_calculator'), sip_calculator_path
 %li=link_to t('.monthly_sip_calculator'), monthly_sip_calculator_path
 %li=link_to t('.income_tax_calculator'), income_tax_calculator_path
 %li=link_to t('.rate_of_return_calculator'), rate_of_return_calculator_path
 %li=link_to t('.life_insurance_calculators'), life_insurance_calculators_path
 %li=link_to t('.retirement_corpus_calculator'),retirement_corpus_calculator_path
