%dl
  %dt=link_to "Emi Calculator", emi_calculators_path
  %dd Planning to take a loan? Estimate your monthly EMI.
  %dt=link_to "Fixed Deposit Calculator", fixed_deposit_calculators_path
  %dd Find out how much you will receive when your fixed deposit matures.
  %dt=link_to "Recurring Deposit Calculator", recurring_deposit_calculator_path
  %dd Find out how much you need to save to ensure a financially free retirement.
  %dt=link_to "SIP Calculator", sip_calculator_path
  %dd Find out how much you need to invest in a Systematic Investment Plan initially and every month to meet your financial goals.
  %dt=link_to "Monthly SIP Calculator", monthly_sip_calculator_path
  %dd Find out how much you need to invest in a Systematic Investment Plan every month to meet your financial goals.
  %dt=link_to "Income Tax Calculator", income_tax_calculator_path
  %dd Get an estimate of the taxes you will owe the government at the end of the year.
  %dt=link_to "Rate of Return Calculator", rate_of_return_calculator_path
  %dd Calculate the rate of return on your investment given your initial investment and maturity value.
  %dt=link_to "Life Insurance Calculator", life_insurance_calculators_path
  %dd Are you under-insured? Find out how much insurance cover is right for you.
  %dt=link_to "Retirement Corpus Calculator", retirement_corpus_calculator_path
  %dd Find out how much you will receive when your recurring deposit matures.