$base-color: #3872C2;
$text-color: #333333;
$label-color: #0099cc;
$border-color: tint($text-color, 80%);
$link-color: $base-color + $text-color;
$aside-width: 240px;
$footer-color: #274F87;

$heading-color: $base-color; //#0b419e;
$heading-font: "Cambria", Helvetica, Arial, sans-serif;
$content-font: "Calibri", Helvetica, Arial, sans-serif; 
$nav-font: $content-font;

$th-color: $base-color;
$tr-color: lighten($base-color, 35%);
