/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require chosen
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_directory .
 *= require personal_financial_tools
*/

@import "bourbon";
@import "defaults";
@import "lists";
@import "holygrail";
@import "utilities";

header, nav, hgroup, section, article, footer { display: block; }
body {
  background: #8E8E8E;
}
body, button, input, select, textarea {
  font-family: $content-font;
  color: $text-color;
}
h1, h4 {
  margin: 0;
}
ul {
  list-style: none;
}

p {
  line-height: 1.5em;
  font-size: 14px;
}

h1 {
  color: $heading-blue;
  font: {
    family: $heading-font;
    weight: normal;
  }
  margin-bottom: 6px;
}

table {
  width: 100%;
}

label {
  font-size: 14px;
  color: $base-color;
  font-weight: normal;
}

table, td, th {
  border: {
    width: 1px;
    style: solid;
    color: $border-color;
  }
}

nav {
  li {
    font-family: $nav-font;
	  font-weight: bold;
	  color: tint($base-color, 80%);
  }

  a {
    @include unstyled-link;
    cursor: pointer;
  }
}

header {
  width: 980px;
  margin: 0 auto;
  //height: 120px;
  @include linear-gradient(#438DF2, shade(#0F3F7A, 10%));
  @include box-shadow(0 2px 4px hsla(0, 0%, 0%, 0.65));
  @include horizontal-list-container;
  @include border-radius (0 0 4px 4px);
  nav, hgroup {
    @include horizontal-list-item();
  }
  #header_resize {
    //width: 980px;
    .global_social {
      @include float(right);
    #divtwitter {
      @include float(left);
      margin-right: 12px;
    }
    #divfacebook {
      @include float(left);
      //width: 87px;
    }
    }
    margin: {
      top: 5px;
      right: 5px;
      left: 5px;
    }
  }
  nav {
    &>ul {
      @include horizontal-list(0.6em, left, false);
      margin: 0;
      padding: 0;
    }
    &.main {
      @include float(right);
      #navigation-about_us {
        display: none;
      }
      margin: 4em 0 0 0;
      li {
	      padding: {
	        bottom: 3px;
	        top: 3px;
	      }
        a {
          font: {
            size: 14px;
            weight: normal;
          }
          color: #D9DCFF;
          &.selected {
            color: #141414;
          }
        }
        &.selected {
          background: #D9D9D9;
          @include border-radius(4px);
        }
      }
    }

    &.user {
      //border-left: thin solid shade($base-color, 35%);
      @include float(left);
      li {
        padding: 0;
        color: #A2BEE6;
        &:first-child {
          font-size: 12px;
        }
        img {
          padding-right: 4px;
          height: 20px;
        }
        a.btnsignout {
          width: 90px;
          height: 20px;
          display: block;
          background: url("signout_button.png") no-repeat;
          text-indent: -9999px;
        }
        form {
          input[type="submit"] {
            @include button($base-color);
            @include linear-gradient($base-color, shade($base-color, 60%));
            margin: 0;
          }
        }
      }
    }
  }
  hgroup.title {
    //width: 160px;
    img {
      //height: 32px;
      padding-top: 0.4em;
      //padding-left: 0.2em;
    }

    h1 {
      color: shade($base-color, 60%);
      text-shadow:1px 1px 2px tint($base-color, 0%);
      margin: 0 0.5em;
    }
  }
}

//--------------------- main starts ----------------------

#wrapper {
  @include holy-grail($aside-width, 0);
  height: 100%;
  min-height: 800px;
  padding-top: 4px;
  padding-bottom: 2em;
  padding-left: 204px;
  width: 776px;
  margin: 10px auto;
  overflow: hidden;
  background: #FFF;
  @include border-radius(4px);
  @include box-shadow(0 2px 4px hsla(0, 0%, 0%, 0.65));
}

#main {
  width: 100%;
  .container {
    padding: {
      left: 10px;
      right: 4px;
    }
    >h1 {
      font: {
        size: large;
      }
      color: $heading-blue;
    }
  }
}



//--------------------- aside starts ----------------------
aside{
  &>h1 {
    @include linear-gradient(#A1D004, shade(#6B9A00, 30%));
    @include border-radius (4px 4px 0 0);
    color: #fff;
    font: {
      size: 16px;
      weight: bold;
      family: verdana;
    }
    @include aside-links-padding;
    margin: 0;
  }
  nav {
    ul {
      margin-top: 2px;
      @include no-bullet;
      span {
        @include button($base-color);
        @include linear-gradient($base-color, shade(#022744, 10%));
        border-radius: 0;
        color: white;
        display: block;
        text-align: left;
        font: {
          size: 14px;
          weight: bold;
        }
        border: none;
        @include aside-links-padding;
      }
      ul {
        margin: 0;
      }
      a {
        font : {
          size: 12px;
          weight: normal;
        }
        display: block;
        @include unstyled-link;
        &, &:visited {
          cursor: pointer;
          color: $text-color;
        }
        @include aside-links-padding;
        border:{
          bottom: $nav-border;
          left: $nav-border;
          right: $nav-border;
        }
        &.selected {
          color: $base-color;
          background-color: $border-color;
        }
        &:hover {
          color: $base-color;
        }
      }
    }
  }
}

//------------------------  Footer ----------------------------------

footer {
  border-top: 2px solid #2D2D2D;
  clear: both;
  background: $footer-color;

  // Center the sitemap in footer
  text-align: center;
  nav.sitemap {
    display: inline-block;
    text-align: left;
  }

  nav.sitemap {
    &>ul {
      @include horizontal-list(16px);
      padding: 0;
      margin: {
        bottom: 0;
        top: 1em;
      }
      li {
        color: #D9DCFF;
	      font-size: 14px;
        font-weight: bold;
      }
      line-height: 1.5em;

      ul {
        @include no-bullet;

        li {
          color: #96B1D2;
          font: {
            size: 12px;
            weight: bold;
          }
          a:hover {
            color: #FFF;
          }
        }
      }
    }
  }

  p {
    clear: both;
  }
}

//------------------ Previous and Next links in articles page  ----------------------------------------------

.next {
  float: right;
}

.previous {
  float: left;
}
//------------------ Disclaimer ----------------------------------------------
.disclaimer {
  margin: 0 auto;
  width: 980px;
  text-align: left;
  color: $base-color;
  font: {
    size: 12px;
  }
  padding: {
    bottom: 20px;
    left: 10px;
    right: 10px;
  }
}
//------------------ copyright ----------------------------------------------
.copyright {
  color: black;
  width: 980px;
  margin: 0 auto;
  text-align: right;
  font: {
    size: 12px;
  }
  padding: {
    top: 10px;
  }
}

.legal {
  background-color: #FFF;
  padding: {
    top: 30px;
    bottom: 20px;
  }
  border-top: 2px solid #2D2D2D;
}

//----------------------------------- Tables ---------------------------------------

tr {
  th {
    background-color: $th-color;
    color: white;
    text-align: left;
  }

  th, td {
    padding: 0.4em;
    font-size: 12px;	
  }
}

//--------------------------------Flash Notice message-------------------------------
#flash_notice {
  @include flash-message(#fff6bf, #514721, #ffd324)
}

#flash_error {
  @include flash-message(#fbe3e4, #8a1f11, #fbc2c4 );
}
#flash_info {
  @include flash-message(#d5edf8, #205791, #92cae4);
}


//--------------------------- input[Submit Button]--------------------------------------

form {
  input[type="submit"] {
    @include button($base-color);
    @include linear-gradient($base-color, shade($base-color, 60%));
    font: {
      size: 12px;
      weight: normal;
    }
    padding: 4px 6px;
  }
}

input, select, textarea {
  border: {
    width: 1px;
    style: solid;
    color: #aaa;
  }
  color: $text-color;
  @include box-shadow (0 2px 1px rgba(0,0,0,.10));
}

.red, .sell, .borrow{
  color: red;
}
.green, .buy, .repay {
  color: green;
}
//------------------------------- Back Button --------------------

.back {
  clear: both;
  a {
    text-decoration: none;
    color: darken($base-color, 50%);
  }
}

//------------------------------- Disable chrome webkit spin button--------------------
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}

//----------------------------- width of input , select , --------------------------------
input[type="text"] {
  width: 300px;
}

//---------------------------- error msg -----------------------------------------------
.error {
  font: {
    size: 12px;
  }
  width: 250px;
  float: right;
  color: red;
  padding-left: 4px;
}

//--------------------------error_notification -----------------------------------------
.alert-error {
  color: $heading-red;
  margin: 10px 0;
  font {
    size: 14px;
  }
}

//---------------------------Highlighing total in current holdings -------------------- 
.total {
  font-weight: bold;
  color: $heading-blue;
}

.name {
  width: 200px;
  text-align: left;
}
.dates {
  width: 82px;
  text-align: center;
}
.type {
  width: 50px;
  text-align: center;
}
.quantity {
  width: 54px;
  text-align: right;
}
.amount, .nav, .scheme {
  width: 100px;
  text-align: right;
}
.right_align, .green, .red {
  text-align: right;
}
.comment {
  width: 190px;
}
.price {
  width: 80px;
  text-align: right;
}
.duration {
  width: 54px;
  text-align: right;
}
.rate {
  width: 80px;
  text-align: right;
}
.center_align {
  text-align: center;
}
.profit, .loss {
  width: 150px;
  text-align: right;
}
.security_type {
  widht: 100px;
  text-align: center;
}
.percentage {
  width: 200px;
  text-align: right;
}

.invest_amount, .avg_price {
  width: 120px;
  text-align: right;
}

.real_amount {
  width: 270px;
  text-align: right;
}


//---------------------------Autocomplete loading image style -------------------- 

.ui-autocomplete-loading {
  background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
}
.asset_amount {
  width: 200px;
  text-align: right;
}

//---------------------------Autocomplete styling for mutual funds and stocks --------------------

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #AAA;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #3872C2;
      display: block;
      padding: 4px;
      font-size: 12px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

#disqus_thread {
  clear: both;
  padding-top: 20px
}
