/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require jquery.ui.slider.bootstrap
 *= require chosen
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_directory .
*/

ul.nav li.dropdown:hover>ul.dropdown-menu{
  display: block;
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

// TODO: Make Responsive
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

#flash_result { display: none; }

.subnav {
  height: 36px;
  width: 100%;
}

.bs-icon {
  float: left;
  margin-right: 4px;
  opacity: 0.8;
}

.red {
  color: red;
}

.green {
  color: green;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
