/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require_self
 *= require_directory .
*/

//-----------------------------------------------------8<-----------------------------------------------------------
//-----------------------------------------------------8<-----------------------------------------------------------

@import "bourbon";
@import "lists";
@import "holygrail";

$base-color: #3872C2;
$aside-width: 220px;

h1 {
  font-weight: normal;
}

p {
  line-height: 1.5em;
}

header {
  width: 100%;
  @include background-image(linear-gradient($base-color, shade($base-color, 30%)));
  @include box-shadow(0 2px 5px hsla(0, 0%, 0%, 0.65));
  @include horizontal-list-container;
  nav, hgroup {
    @include horizontal-list-item;
  }
  nav {
    &>ul {
      @include horizontal-list(0, left, false);
      li {
        @include button($base-color);
        input[type=submit] {
          @include appearance(normal);
        }
      }
      margin: 0;
      padding: 0;
    }
    padding: 0.75em 0;
  }

  hgroup.title {
    padding: 0.5em 1em;
    width: $aside-width;

    h1 {
      color: shade($base-color, 60%);
      text-shadow:1px 1px 2px tint($base-color, 0%);
      margin: 0;
    }
  }

  nav.user {
    @include float(right);
  }

  a {
    @include unstyled-link;
  }
}

#wrapper {
  @include holy-grail(250px, 0);
}

