@import "bourbon";
@import "holygrail";
@import "lists";
@import "defaults";
@import "utilities";

body.banking-sector {
  h4 {
    font-size: 14px;
    text-decoration: underline;
    color: $heading-green;
  }

  section {
    margin-bottom: 20px;
  }
  .img_size {
    width: 750px;
    margin: 10px 0;
  }

  p {
    text-align: justify;
  }
}
