@import "bourbon";
@import "lists";
@import "utilities";
@import "defaults";

// ---------------------risk profiler page-------------------

body.comprehensive_risk_profilers {
  @include required-field;
  label {
    display: inline-block;
    color: $base-color;
    line-height: 1em;
    width: 100%;
    padding: {
      top: 0.5em;
      bottom: 0.4em;
    }
    font: {
      size: $label-font-size;
    }
  }

  label.collection_radio,  {
    padding-left: 0.3em;
    padding-right: 1em;
    display :inline;
  }

  fieldset, {
    border : none;
  }

  .collection_radio{
    color: $text-color;
  }
  .required {
    >input {
      margin-left: 1em;
    }
  }

  div.actions {
    input{
      margin: {
        bottom: 0.5em;
        top: 1em;
      }
    }
  }
  input {
    margin-bottom: 1em;  
  }

}

body.comprehensive_risk_profilers.show {
  #main {
    p b {
      color: $base-color;
      font: {
        size: medium;
        weight: normal;
      }
    }
    ul{
      list-style-image: url('right_arrow.png');
      li {
        padding-bottom: 1em;
        color: $text-color;
        font: {
          size: 14px;
          weight: normal;
        }
      }
    }
    #continue {
      margin-bottom: 2em;
      text-align: center;
      a {
        text-decoration: none;
        @include button($base-color);
        @include linear-gradient($base-color, shade($base-color, 60%));
        font-size: medium;
      }
    }
    #asset-allocation-chart {
      margin-top: 2em;
    }
    p {
      font-size: 14px;
    }
  }
}
