@import "bourbon";
@import "lists";
@import "utilities";
@import "defaults";

// ---------------------index page-------------------

body.personal_financial_tools.index {
  dt {
    margin-top: 1em;
    a, a:visited {
      color: $heading-red;
    }
    a:active, a:hover {
      color: darken($heading-red, 10%);
    }
  }
}

//------------------ Flash result --------------------------

#flash_result {
  display: none;
}

#result {
  background: #b3d1e0;
  text-align: center;
  margin: {
    bottom: 1em;
  }
  padding: 0.5em;
  font: {
    family: $content-font;
    size: large;
    weight: normal;
  }
}

//-------------------- Form calculators --------------------
body.personal_financial_tools {
  form {
    input, select {
      margin: {
	left: 0.8em;
	bottom: 1em;
      }
    }
    h4 {
      color: $heading-blue;
      font: {
	family: $heading-font;
	size: x-large;
	weight: normal;
      }
      margin: {
	bottom: 0.3em;
      }
    }
    ul {
      list-style:none;
      margin: 0;
      padding: 0;
      li {
	margin: 0;      
	padding: {
	  bottom: 0.6em;
	  left: 1em;
	}
	font: {
	  family: $content-font;
	  weight: normal;
	  size: medium;
	}
      }
    }
    div.inputs {
      label {
	display: inline-block;
	color: $base-color;
	width: 40%;
	line-height: 1em;
	text-align: right;
	padding: {
	  top: 0.5em;
	  bottom: 0.4em;
	}
	font: {
	  family: $content-font;
	  weight: normal;
	  size: $label-font-size;
	}
      }
      label.collection_radio,  {
	padding-left: 0.6em;
	display :inline;
      }
      span {
	&input {
	  padding-left: 0;
	}
      }
      .dependents {
	border: none;
	a {
	  color: $base-color;
	  padding: 0.5em 0;
	}
      }
    }
    div.actions {
      text-align: center;
    }  
  }
}

