@import "bourbon";
@import "lists";
@import "utilities";
@import "defaults";

$column_width: 233px;
$gutter_width: 4px;
$margin_width: 12px;

body.home {
  #wrapper {
    padding: 6px;
    width: $column_width * 4 + $gutter_width * 3 + $margin_width * 2;
    margin: 10px auto;
    #main {
      .container {
        header {
          #header_resize {
            margin: 0;
          }
        }
        padding-left: 0;
        float: none;
        @include center;
        //width: $column_width * 4 + $gutter_width * 3 + $margin_width * 2;
      }
    }
  }

  #main .container {
    >img {
      width: 250px;
      margin: {
        top: 1em;
        left: 10px;
      }
    }
    >h1 {
      font-size: x-large;
      color: $heading-green;
      margin: 0;
      padding: {
        left: 10px;
        top: 10px;
      }
    }
  }
  .banner {
    height: 360px;
    @include border-radius(8px);
    background: lighten($base-color, 45%);
    border: 1px solid $border-color;
    padding: $gutter_width;
    text-align: center;
    margin:  {
      top: 0.5em;
      bottom: 2em;
    }
    ul {
      @include horizontal-list($gutter_width, left, true);
      padding: 0;
      margin: 0 0 2em 0;
      li {
        width: $column_width ;
      }
    }

    h1 {
      white-space: normal;
      font-size: medium;
      padding: 0 0.2em;
    }

    a.get_started {
      @include button($base-color);
      @include linear-gradient($base-color, shade($base-color, 60%));
      font-size: 20px;
      padding: 6px 10px;
      @include unstyled_link;
      cursor: pointer;
      &, &:visited {
        color: white;
      }
      &:after {
        content: url(get_started.png);
      }
    }
  }

  .interesting_facts {
    a {
      text-decoration: none;
    }
    #fact1, #fact2, #fact3 {
      width: 285px;
      height: 150px;
      padding-left: 20px;
      float: left;
      h1 {
        font-size: 18px;
        color: $heading-green;
        padding-left: 0;
      }
      p {
        text-align: justify;
        color: #000;
        margin-top: 0;
        line-height: 1.6em;
        font-size: 13px;
      }
    }
    #fact1, #fact2 {
      padding-right: 15px;
      border-right: 1px solid #CCC;
    }
  }

  aside {
    display: none;
  }
  nav.main {
    margin-left: 0;
  }
}
