@import "bourbon";
@import "holygrail";
@import "lists";
@import "defaults";

body.investment_education {
  #main {
    .container {
      >ul {
	margin: 0;
	padding: {
	  top: 0;
	  left: 1em;
	}
	li {
	  padding: 0;
	  @include horizontal-list;
	  display: inline-block;
	  height: 300px;
	  span {
	    display: block;
	    color: $heading-color;
	    font: { 
	      family:$heading-font;
	      size: large;
	    }
  
	    &:before {
	      display: block;
	      width: 100%;
	      text-align: center;
	    }
	  }
	  //margin-left: 1em;
	  a {
	    text-decoration: none;
	  }
	  p {
	    display: inline;
	    padding-left: 0;
	  }
	  ul {
	    display: inline;
	    padding-left: 0;
	    padding-right: 1em;
	  }
	  li {
	    display: inline;
	    &:before {
	      content: ', ';
	    }
	    &:last-child:before {
	      content: ' and ';
	    }
	    &:first-child:before {
	      content: ' ';
	    }
	  }
	  // background images for article sections
	}
      }
      #navigation-investment_concepts span:before {
	content: url('investment_education/InvestmentConcepts_1.png');
      }
      #navigation-investment_process span:before {
	content: url('investment_education/InvestmentProcess_1.png');
      }
      #navigation-investment_analysis span:before {
	content: url('investment_education/InvestmentAnalysis_1.png');
      }
      #navigation-investment_types span:before {
	content: url('investment_education/InvestmentTypes_1.png');
      }
      #navigation-advanced_investments span:before {
	content: url('investment_education/AdvancedInvestments_1.png');
      }
      #navigation-jargon_demystified span:before {
	content: url('investment_education/jargon.png');
      }
      ul>li {
	padding: 0;
	margin-left: 15px;
      }
    }
  }
}


//-----------------------------8<----------------------------
@mixin sharp-button {
  @include button(shiny, #3a6e9b);
  @include border-radius(0);
}
@mixin color-highlights($color: grey) {
  h1 {
    background: $color;
    border-radius: 2px 2px 0 0;
  }
  li:hover {
    background: tint($color, 40%);
  }
}
//-----------------------------8<----------------------------

//-------------------- variables ------------------------------

$heading-color: #3e3e3e;
$base-color: #3872C2;
$bottom-grey: #c5c4c4;
//--------------------------------------------------------------

#main .container>.wrapper {
  @include holy-grail-wrapper(200px, 10px, right);
  article {
    @include holy-grail-main(200px, 10px, right);
    //padding-bottom: 1em;
  }
  .extracontent {
    @include holy-grail-aside(200px, 0, right);
    h1 {
      font: {
        family: heading-font;
        size: medium;
        weight: normal;
      }
      padding: 0.3em 0;
      color: #fff;
      text-align: center;
    }
    &>div {
      border: 1px solid $border-color;
      @include border-radius(4px 4px 0 0);
      margin-bottom: 1em;
      ul {
        padding: 0;
      }
      li {
        @include no-bullet;
        margin: 2px;
	padding: 4px;
        font: {
          family: $content-font;
	  size: small;
        }
        a {
          text-decoration: none;
        }
      }
    }
    .takeaway {
      @include color-highlights(#CE5A5A);
    }
    .articles {
      @include color-highlights(#B6CE61);
    }
    .videos {
      @include color-highlights(#446C99);
    }
  }
}
//---------------------------- content -------------------------------------
div.wrapper {
  //padding-left: 1em;
  article{
  &>h1 {
    color: $heading-blue;
    font: {
      family: $heading-font;
      size: x-large;
      weight: regular;
    }
    margin: {
      //top: 0.5em;
      bottom: 0.3em;
    }
  }
  section {
    p {
      text-align: justify;
      color: #333333;
      margin: 0;
      padding: {
        left: 6px;
        bottom: 10px;
	right: 14px;
      }
      font: {
        family: $content-font;
	weight: normal;
	size: 14px;
      }
    }
    h1 {
      margin: 0;
      padding-bottom: 0.3em;
      clear: both;
      color: $heading-red;
      font: {
        family: $heading-font;
	weight: normal;
	size: medium;
      }
    }
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      font-size: 14px;
      line-height: 1.5em;
    }
    img {
      float: left;
      margin:{
        right: 1em;
        bottom: 1em;
      }
      
      border: {
        width: 4px;
        style: solid;
        color: $bottom-grey;
      }
    }  
  }
 }
}

articlefooter {
  display: inline-block;
  center {
    a {
      display: none;
    }
  }
}
rightalign {
  margin-left: 30px;
}
