@import "bourbon";
@import "holygrail";
@import "lists";


//-----------------------------8<----------------------------
@mixin sharp-button {
  @include button(shiny, #3a6e9b);
  @include border-radius(0);
}
//-----------------------------8<----------------------------

//-------------------- variables ------------------------------

$heading-color: #3e3e3e;
$family-font: "Robotolight",Helvetica, Arial, sans-serif;
$base-color: #3872C2;
$bottom-grey: #c5c4c4;
$tr-color: #c0deed;
$th-color: #1e6a86;
$heading-font: "Cambria", Helvetica, Arial, sans-serif;
$content-font: "Calibri", Helvetica, Arial, sans-serif;
//--------------------------------------------------------------

#main>.wrapper {
  @include holy-grail-wrapper(250px, 10px, right);
  article {
    @include holy-grail-main(250px, 10px, right);
  }
  extracontent {
    @include holy-grail-aside(250px, 10px, right);
    h1 {
      font: {
        size: large;
        weight: bold;
      }
      border: thin solid grey;
      @include border-radius(4px);
    }
  }
}

aside ul {
  span {
    @include sharp-button;
    color: white;
    display: block;
    text-align: left;
    font-size: medium;
	
  }
}
/*
aside h1 {
  font:{
    family: $heading-font;
    size: 2em;
    weight: regular;
  }
}
*/
aside ul {
  @include no-bullet;
  
  ul {
    margin: 0;
  }

  a {
    @include unstyled-link;

    padding: {
      left: 24px;
      top: 8px;
      bottom:8px;
    }

    font: {
      family: "Helvetica", Arial, sans-serif;
      size: 14px;
      weight: bold;
    }

    border:{
      bottom: 1px solid $bottom-grey;
    }

    display: block;
    &, &:visited, &:hover, &:active, {
      color: #424242;
    }

    &:hover{
      color: $base-color;
      background-color: $bottom-grey;
    }
  }
}


//---------------------------- content -------------------------------------
div.wrapper {
  margin: { 
    left: 1.5em;
  }
  article{
    margin:{
      left: 1.5em;
    }

  &>h1 {
    color: $heading-color;
    font: {
      family: $heading-font;
      size: 2em;
      weight: regular;
    }
	margin: {
	  top: 0.5em;
	  bottom: 0.6em;
	}
	
	border: {
	  bottom: 2px solid $base-color;
	}
  }

  section {
    p {
      color: #333333;
      font: {
        family: $content-font;
	      weight: normal;
		    size: 1.2em;
	    }
    }
    h1 {
      clear: both;
	    color: $base-color;
	    font: {
        family: $heading-font;
	      weight: bold;
		    size: large;
	    }
	  margin: {
        bottom: 0;
		top: 0;
	  }
	  padding: {
	    top: 12px;
	  }
    }
	
	img {
	  margin: 0.6em; 
	  border: {
	    width: 4px;
		style: solid;
		color: $bottom-grey;
	  }
	}

    &:nth-child(odd) img {
      float: right;
    }

    &:nth-child(even) img {
      float: left;
    }
  }
  /*
  section>img {
     width: 258px;
     height: 166px;
  }
  */
 }
}




//----------------- Tables ------------------------------

tbody tr {
  &:nth-child(odd) {
    background-color: $tr-color;
  }
  th {
    background-color: $th-color;
	  color: white;
	  text-align: left;
  }

  th, td {
    padding: {
	  top: 0.4em;
	  bottom: 0.4em;
	  left: 0.6em;
	  right: 0.6em;
	}
  }
}

articlefooter {
  center {
    a {
      display: none;
    }
  }

}