@import "bourbon";
@import "holygrail";
@import "lists";
@import "utilities";
@import "defaults";



body.mutual_funds {
  #main {
    h1 {
      color: $heading-blue;
      font: {
        size: large;
      }
    }
  }
}


body.mutual_funds.show {
  #main {
    #new_data_provider_scheme {
      @include required-field;
      text-align: right;
      margin : {
        bottom: 20px;
      }
    }
    td b {
      color: $base-color;
    }
    #scheme_container {
      #titlebar {
        .nav_amount, .day_change, .percentage_change {
          display: inline-block;
          padding-right: 0.5em;
        }
        strong {
          font: {
            size: 1.5em;
            family: $content-font;
          }
        }
      }
      #title_details {
        clear: both;
        margin: 0;
        span {
          padding-right: 1em;
          font-size: small;
        }
        strong {
          color: $base-color;
          font-size: small;
          font-weight: normal;
        }
      }
      #content {
        clear: both;
        margin-top: 20px;
        td {
          border: 1px solid $border-color;
        }
      }
    }
  }
}




body.mutual_funds.scheme_returns {
  #main {
    .mf_container {
      #comparative_returns {
        #mf-comparative-returns-chart {
          width: 70%;
        }
        #comparative_returns_data{
          padding-top: 2em;
          p {
            color: red;
            font-size: small;
          }
        }
      }
    }
  }
}


body.mutual_funds.top_holdings {
  #main {
    .mf_container {
      #top_holdings {
        #top-holdings-chart {
          width: 70%;
        }
        #top_holdings_data {
          padding-top: 20px;
        } 
      }
    }
  }
}


body.mutual_funds.asset_allocation {
  #main {
    .mf_container {
      #asset_allocation {
        #mf-asset-allocation-chart {
          width: 70%;
        }
        #asset_allocation_data {
          padding-top: 2em;
        }
      }
    }
  }
}


body.mutual_funds.sectoral_allocation {
  #main {
    .mf_container {
      #sectoral_allocation {
        #mf-asset-allocation-chart {
          width: 70%;
        }
        #sectoral_allocation_data {
          padding-top: 20px;
        }
      }
    }
  }
}

body.mutual_funds.index {
  #wrapper {
    width: 968px;
    padding: 6px;
    aside {
      display: none;
    }
    #main {
      .container {
        padding-left: 0;
        .dataTables_info {
          font-size: 12px;
        }
        .dataTables_wrapper {
          margin-bottom: 30px;
        }
        .dataTables_processing {
          margin-left: -170px;
          margin-top: 6px;
          border: 0;
        }
        .dataTables_empty {
          color: $heading-red;
        }
        .ui-tabs-panel {
          padding: 0;
        }
        #top_and_biggest_funds {
          margin-bottom: 30px;
        }
        a {
          color: #222;
        }
        a:hover {
          color: #0D56AD;
        }
        p {
          text-align: justify;
        }
        .ui-widget {
          font-family: "Calibri",Helvetica,Arial,sans-serif;
        }
      }
    }
  }
}

