
@import "bourbon";
@import "defaults";
@import "lists";
@import "holygrail";
@import "utilities";

body.mutual_fund_categories.show {
  #main {
    #new_scheme {
      text-align: right;
      margin : {
        bottom: 20px;
      }
    }
    p {
      margin: {
        top: 0;
      }
    }
    td a {
      color: $base-color;
    }
    .pagination a {
      color: $heading-red;
      font: {
        size: 12px;
      }
    }
  }
}


