@import "bourbon";
@import "holygrail";
@import "lists";
@import "defaults";
@import "utilities";

body.sessions.new {
  #wrapper {
    width: 968px;
    padding: 6px;
    @include hide-aside;
    #main {
      .container {
        padding-left: 0;
        margin: 0 auto;
        background: #fff;
        .connect_container {
          .google {
            float: right;
          }
          .facebook, .google {
            display: inline-block;
            width: 450px;
            text-align: center;
            form {
              input[type="submit"] {
                width: 300px;
                @include button($base-color);
                background-repeat:no-repeat;
                font: {
                  size: 20px;
                  weight: normal;
                }
                padding: 9px 20px 14px 60px;
              }
              input[value="Login with Facebook"] {
                background-image: url('social_facebook.png');
                &:hover {
                  background-image: url('social_facebook.png');
                }
              }
              input[value="Login with Google"] {
                background-image: url('social_google.png');
                &:hover {
                  background-image: url('social_google.png');
                }
              }
            }
          }
        }
        .benefits {
          margin-top: 10px;
          p {
            margin-top: 0;
            font-size: 13px;
            color: #000;
          }
          h1 {
            color: $heading-green;
            padding-left: 10px;
            font: {
              size: 18px;
            }
          }
          img {
            float: left;
            margin-right: 6px;
          }
          .snapshot, .transaction, .sectoral, .profit_loss, .asset_class, .features  {
            width: 294px;
            height: 110px;
            float: left;
            margin: {
              bottom: 20px;
            }
            padding: {
              left: 14px;
              right: 14px;
            }
            img {
              width: 24px;
              height: 24px;
            }
          }
          .snapshot, .transaction, .profit_loss, .asset_class {
            border: {
              right: {
                width: 1px;
                style: solid;
                color: $border-color;
              }
            }
          }
        }
        .access {
          clear: both;
          text-align: center;
          padding: 20px 0;
          p {
            background-color: #FFF6BF;
            color: #000;
            font: {
              size: 16px;
            }
            padding: 8px;
            border: 1px solid #333;
          }
        }
      }
    }
  }
}
