@import "bourbon";
@import "holygrail";
@import "lists";
@import "defaults";
@import "utilities";

body.sessions.new {
  #wrapper {
    padding-left: 0;
    @include hide-aside;
    #main {
      .container {
        padding: 1em;
        width: 948px;  
        margin: 0 auto;
        @include border-radius(8px);
        background: lighten($base-color, 45%);
        border: 1px solid $border-color;
        .connect_container {
          .btn_connect {
            ul {
             list-style: none;
             li {
              display: inline-block;
             }
            }
          }
        }
        .signin_signup_container {
          .signin_container, .signup_container {
            display: inline-block;
            width: 417px;
            @include border-radius(6px);
            background: #e4e4e4;
          }
        }
      }  
      
    }  
  }
}  