@import "bourbon";
@import "lists";
@import "utilities";
@import "defaults";
@import "holygrail";


body.portfolios {
  #wrapper {
    input[type="submit"]{
      width: 70px;
    }
    #no_portfolios {
        text-align: center;
        margin-top: 60px;
        p {
          margin: 0;
        }
    }
    #current_portfolio {
      margin: {
        bottom: 20px;
      }
      b {
        color: $heading-red;
        font-size: 14px;
      }
      span {
        color: $base-color;
        font-size: 14px;
      }
      p {
        float: right;
        margin: 0;
        font-size: 12px;
        color: red;
      }
    }
    aside {
      .level_2 {
        >li {
          >a {
            @include button($base-color);
            @include linear-gradient($base-color, shade(#022744, 10%));
            border-radius: 0;
            display: block;
            text-align: left;
            font-size: medium;
            color: white;
            border: none;
            @include aside-links-padding;
          }
        }
      }
    }
  }
}

body.portfolios.index {
  #wrapper {
    min-height: 600px;
    #main {
      p {
        margin: 0;
      }
      a.create_new_portfolio {
        font-size: 14px;
        color: $base-color;
        margin-left: 374px;
      }
      form {
        >div {
          width: 40%;
          text-align:right;
        }
      }
      table {
        border: 0;
        margin-bottom: 2em;
        margin-top: 1em;
        td, th {
          font-size: 14px;
          border: 0;
        }
        td {
          color: $base-color;
          font-weight: normal;
          a {
            color: $base-color;
          }
        }
        th {
          background: white;
          color: $heading-red;
          font-weight: normal;
        }
        .actions {
          text-align: center;
          width: 130px;
        }
      }
    }
  }
}

body.portfolios.new {
  #wrapper {
    min-height: 600px;
    #main {
      #new_portfolio {
        margin-top: 30px;
        .inputs {
          @include required-field;
          div {
            label {
              width: 14%;
            }
            #portfolio_name {
              margin: {
                top: 0.1em;
              }
            }
          }
        }
        .actions {
          margin-left: 122px;
          padding-top: 10px;
          width: 80px;
          float: left;
          input [type="submit"] {
            margin-top: 0;
          }
        }
        #back {
          float: left;
          width: 100px;
          padding-top: 22px;
        }
      }
    }
  }
}


body.portfolios.show {
  #main {
    .container {
      table {
        margin: {
          top: 1em;
        }
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
        b {
          color: $heading-red;
          font-weight: normal;
        }
      }
      input[value="Add Transactions"] {
        margin-top: 1em;
      }
      #net-worth-chart {
        margin-top: 1em;
      }
    }
  }
}

body.portfolios.details {
  #main {
    .container {
      p {
        margin: 0;
        font-size: 14px;
      }
      h1 {
        color: $heading-red;
        font: {
          size: 14px;
        }
      }
      section {
        padding-bottom: 1em;
      }
      #stock_positions, #mutual_fund_positions, #gold_positions, .Loan, .FixedDeposit, .RealEstate{
        padding: 0 0 1em 0;
        td, th {
          text-align: right;
        }
        td.name, th.name {
          width: 150px;
          text-align: left;
        }
      }
    }
  }
}

body.portfolios.transactions {
  #main {
    .container {
      p {
        margin: 0;
        font-size: 14px;
      }
      h1 {
        color: $heading-red;
        font: {
          size: 14px;
        }
      }
      section {
        padding-bottom: 1em;
      }
    }
  }
}

body.portfolios.stocks_analysis, body.portfolios.mutual_funds_analysis, body.portfolios.fixed_deposits_analysis {
  h2 {
    font-size: 14px;
    color: $heading-red;
    font-weight: normal;
    margin: {
      bottom: 10px;
      top: 20px;
    }
  }
  table {
    margin: {
      bottom: 2em;
    }
  }
}

body

body.portfolios.analysis {
  #main {
    .container {
      h1 {
        color: $heading-red;
        font-size: large;
      }
      #stocks-profit-or-loss-chart, #mutual-fund-profit-or-loss-chart {
        margin: {
          top: 1em;
          bottom: 1em;
        }
      }
    }
  }
}

body.portfolios.edit {
  #main {
    .edit_portfolio {
      margin-top: 30px;
    }
    .actions {
      width: 80px;
      float: left;
      padding-left: 66px;
      padding-top: 30px;
    }
    #back {
      float: left;
      width: 100px;
      padding-top: 30px;
    }
    div {
      label {
        padding-right: 1em;
        padding-bottom: 0.8em;
        font-size: medium;
        color: $base-color;
        @include required-field;
      }
    }
  }
}

body.portfolios.add_transaction {
  @include simple-form;
  #type_of_investment_select {
    margin-left: 77px;
    label {
      color: $base-color;
      padding-right: 0.5em;
    }
    select {
      margin-bottom: 0.5em;
    }
  }
}

body.portfolios.accumulated_profits {
  h1 {
    font-size: large;
  }
  h2 {
    font-size: 14px;
    color: $heading-red;
    font-weight: normal;
    margin: {
      bottom: 10px;
      top: 20px;
    }
  }
}
