@import "bourbon";
@import "lists";
@import "utilities";
@import "defaults";
@import "holygrail";


body.portfolios {
  #wrapper {
    aside {
      .level_2 {
        >li {
          >a {
            @include button($base-color);
            @include background-image(linear-gradient($base-color, shade(#022744, 10%)));
            border-radius: 0;
            display: block;
            text-align: left;
            font-size: medium;
            color: white;
            border: none;
            @include aside-links-padding;
          }
        }
      }
    }
  }
}

body.portfolios.index {
  #wrapper {
    min-height: 600px;
    #main {
      h1 {
        margin-bottom: 0;
      }
      form {
        >div {
          //width: 45%;
          text-align:right;
        }
      }
      table {
        margin-top: 3em;
        .actions {
          form {
            float:left;
          }
        }
      }
    }
  }
}

body.portfolios.new {
  #wrapper {
    min-height: 600px;
    #main {
      #new_portfolio {
        .inputs {
          @include required-field;
          div {
            label {
              width: 12%;
            }
            #portfolio_name {
              margin: {
                top: 0.1em;
              }
            }
          }
        }
        .actions {
          width: 23%;
          text-align: right;
          .button {
            @include button($base-color);
            @include background-image(linear-gradient($base-color, shade($base-color, 60%)));
            font-size: small;
            margin-top: 0;
          }
        }
      }  
    }
  }
}


body.portfolios.show {
  #main {
    .container {
      p {
        margin-top: 0;
        b {
        color: #12179E;
        }
      }
      #portfolio-total-asset-allocation-chart {
        float: left;
        margin: {
          bottom: 2em;
          right: 4em;
        }
      }
      #net-worth-chart {
        margin-top: 2em;
      }
    }
  }
}

body.portfolios.details {
  #main {
    .container {
      h1 {
        color: $heading-red;
        font: {
          size: large;
        }
      }
      #stock_positions, #mutual_fund_positions, #gold_positions, .Loan, .FixedDeposit, .RealEstate{
        padding: 0 0 2em 0;
      }
      #add_links {
        a {
          @include button(#A1D004);
          @include background-image(linear-gradient(#A1D004, shade(#6B9A00, 30%)));
          font-size: small;
          text-decoration: none;
        }
      }
    }
  }
}

body.portfolios.transactions {
  #main {
    .container {
      h1 {
        color: $heading-red;
        font: {
          size: large;
        }
      }
      section {
        padding-bottom: 2em;
      }
    }
  }
}

body.portfolios.accumulated_profits {
  table {
    margin: {
      top: 2em;
      bottom: 2em;
    }
  }
}

body.portfolios.analysis {
  #main {
    .container {
      h1 {
        color: $heading-red;
        font-size: large;
      }
      #stocks-profit-or-loss-chart, #mutual-fund-profit-or-loss-chart {
        margin: {
          top: 1em;
          bottom: 1em;
        }
      }
    }
  }
}

body.portfolios.edit {
  #main {
    div {
      input[type="submit"] {
        margin: 0.6em 0 1em 5em;
      }
      label {
        padding-right: 1em;
        font-size: medium;
        color: $base-color;
        @include required-field;
      }
      input[type="text"] {
        width: 400px;
      }
    }
  }
  @include hide-aside; // Remove this line once the bug is fixed in navigation.rb
}

body.portfolios.add_transaction {
  @include simple-form;
  #type_of_investment_select {
    label {
      color: $base-color;
    }
  }
}
