body.stocks.screener {
  .slider-range {
    width: 600px;
    margin: 8px;
  }
  .ui-slider-handle {
    background-color: #4D5355;
    -webkit-border-radius:  8px;
    -moz-border-radius:     8px;
    border-radius:          8px;
  }
}
