@import "bourbon";
@import "holygrail";
@import "lists";
@import "defaults";
@import "utilities";

body.stock-recommendations {
  #wrapper {
    #main {
      .container {
        section {
          clear: both;
          h1 {
            font-size: large;
          }
          p {
            text-align: justify;
          }
          .block {
            width: 230px;
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
