@import "partials/base";

@import "blueprint/liquid";

body.stocks {
  #stocks {
    height: 20em;
    overflow-y: scroll;
  }

  #stock {
    height: 15em;

    h1, .basic_details, .stock_chart {
      @include column($blueprint-liquid-grid-columns, true);
    }

    .quote_data {
      @include column($blueprint-liquid-grid-columns / 2);
    }

    .fundamental_data {
      @include column($blueprint-liquid-grid-columns / 2, true);
    }
  }
}
