@import "bourbon";
@import "defaults";
@import "lists";
@import "holygrail";
@import "utilities";

body.team {
  #main {
    .container {
      h1 {
        font: {
          size: large;
          weight: normal;
        }
      }
      p {
        text-align: justify;
        font: {
          size: 14px;
        }
      }
    }  
  }
}
