@import "bourbon";
@import "holygrail";
@import "lists";
@import "defaults";
@import "utilities";

body.trade {
  #wrapper {
    #main {
      .container {
        p {
          text-align: justify;
        }
        section {
          margin-bottom: 20px;
          h1 {
            font-size: large;
          }
          b {
            color: $heading-green;
          }
        }
      }
    }
  }
}
