%script{:src => "https://d31qbv1cthcecs.cloudfront.net/atrk.js", :type => "text/javascript"}
:javascript
  _atrk_opts = { atrk_acct: "Wn2Zf1agwt00wH", domain:"finginie.com"}; atrk ();
%noscript
  %img{:alt => "", :height => "1", :src => "https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=Wn2Zf1agwt00wH", :style => "display:none", :width => "1"}
